@use '@vality/ng-core' as v;
@import './all-component-themes';

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

$app-theme: v.create-light-theme();

@include v.core();
@include v.all-component-themes($app-theme);
@include all-component-themes($app-theme);
@include v.typography-hierarchy($app-theme);
@include v.app($app-theme);

.cc-code {
    font-family: 'Roboto Mono', monospace;
}
