<v-dialog title="Party routing rule params">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <mat-form-field *ngIf="dialogData.type === 'payment'">
            <mat-label>Shop</mat-label>
            <mat-select formControlName="shopID" required>
                <mat-option *ngFor="let shop of dialogData.shops" [value]="shop.id">
                    {{ shop.details.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="dialogData.type === 'withdrawal'">
            <mat-label>Wallet</mat-label>
            <mat-select formControlName="walletID" required>
                <mat-option *ngFor="let wallet of dialogData.wallets" [value]="wallet.id">
                    {{ wallet.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="mat-headline-4">Routing ruleset</div>
        <div style="display: flex; flex-direction: column; gap: 16px">
            <mat-form-field>
                <input formControlName="name" matInput placeholder="Name" required />
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="description"
                    matInput
                    placeholder="Description (optional)"
                />
            </mat-form-field>
        </div>
    </div>

    <v-dialog-actions>
        <button [disabled]="form.invalid" color="primary" mat-button (click)="add()">Add</button>
    </v-dialog-actions>
</v-dialog>
