<cc-base-dialog title="Change main ruleset">
    <cc-target-ruleset-form
        (valueChanges)="targetRuleset$.next($event)"
        [value]="initValue"
        [type]="dialogData.type"
        (valid)="targetRulesetValid$.next($event)"
    ></cc-target-ruleset-form>

    <cc-base-dialog-actions>
        <button
            mat-button
            color="primary"
            (click)="changeTarget()"
            [disabled]="!(targetRulesetValid$ | async)"
        >
            CHANGE TARGET
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
