<v-dialog [progress]="!!(progress$ | async)" title="Create revert">
    <cc-fistful-thrift-form
        [extensions]="extensions"
        [formControl]="control"
        namespace="deposit_revert"
        noChangeKind
        type="RevertParams"
    ></cc-fistful-thrift-form>

    <v-dialog-actions>
        <button
            [disabled]="!!(progress$ | async) || control.invalid"
            mat-button
            (click)="createRevert()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>

<ng-template #cashTemplate let-cashControl="control">
    <cc-cash-field [formControl]="cashControl"></cc-cash-field>
</ng-template>
