<cc-page-layout title="Claims">
    <cc-page-layout-actions>
        <button color="primary" mat-raised-button (click)="create()">Create</button>
    </cc-page-layout-actions>
    <mat-card>
        <mat-card-content>
            <cc-claim-search-form (valueChanges)="search($event)"></cc-claim-search-form>
        </mat-card-content>
        <mat-card-footer *ngIf="doAction$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <ng-container *ngIf="claims$ | async as claims">
        <cc-empty-search-result *ngIf="claims.length === 0"></cc-empty-search-result>
        <mat-card *ngIf="claims.length > 0" fxLayout="column" fxLayoutGap="18px">
            <cc-search-table [claims]="claims"></cc-search-table>
            <cc-show-more-button
                *ngIf="hasMore$ | async"
                [inProgress]="doAction$ | async"
                (click)="fetchMore()"
            >
            </cc-show-more-button>
        </mat-card>
    </ng-container>
</cc-page-layout>
