<div class="party-container" fxLayout="column" fxLayoutGap="24px">
    <div fxLayout fxLayoutAlign="space-between">
        <h3 class="mat-body-1">
            {{ (party$ | async)?.contact_info?.email }}
        </h3>
        <h4 class="mat-secondary-text mat-body-1">{{ (party$ | async)?.id }}</h4>
    </div>

    <div fxLayout="column" fxLayoutGap="24px">
        <nav mat-tab-nav-bar>
            <a
                #rla="routerLinkActive"
                *ngFor="let link of links"
                [active]="rla.isActive || (activeLinkByFragment$ | async) === link"
                [routerLink]="link.url"
                mat-tab-link
                routerLinkActive
            >
                {{ link.name }}
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
