<div fxLayout fxLayoutAlign="space-between">
    <mat-form-field>
        <input
            (keyup)="applyFilter($event.target.value)"
            matInput
            placeholder="Filter revision"
            type="text"
        />
    </mat-form-field>
    <mat-paginator [pageSizeOptions]="[20, 50, 100, 250, 500]" showFirstLastButtons></mat-paginator>
</div>
<table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
            <mat-checkbox
                (change)="$event ? selection.toggle(row) : null"
                (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="revision">
        <th *matHeaderCellDef mat-header-cell>Revision</th>
        <td *matCellDef="let payment" mat-cell>{{ payment.domain_revision | ccThriftInt64 }}</td>
    </ng-container>
    <ng-container matColumnDef="invoiceId">
        <th *matHeaderCellDef mat-header-cell>Invoice ID</th>
        <td *matCellDef="let payment" mat-cell>{{ payment.invoice_id }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef mat-header-cell>Created At</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="ownerId">
        <th *matHeaderCellDef mat-header-cell>Party ID</th>
        <td *matCellDef="let payment" mat-cell>{{ payment.owner_id }}</td>
    </ng-container>
    <tr *matHeaderRowDef="cols" mat-header-row></tr>
    <tr *matRowDef="let payment; columns: cols" mat-row></tr>
</table>
