<div
    cdkDropListGroup
    class="flex flex-col"
    (pointerdown)="isDragging = true"
    (pointerup)="isDragging = false"
>
    <div
        [cdkDropListData]="zoneData"
        [class.active]="isDragging"
        cdkDropList
        cdkDropListSortingDisabled
        class="insert-zone"
        (cdkDropListDropped)="dropInZone($event, 0)"
    ></div>
    @for (row of rows(); track $index) {
        <div
            [cdkDropListData]="row"
            [class.active]="isDragging"
            cdkDropList
            cdkDropListOrientation="horizontal"
            class="card-wrapper flex flex-row"
            (cdkDropListDropped)="dropInRow($event)"
        >
            @for (item of row; track item) {
                <mat-card appearance="outlined" cdkDrag class="flex-1 cursor-move shrink-0">
                    <mat-card-content>
                        <div class="content">
                            <ng-container
                                [ngTemplateOutlet]="cardTpl()"
                                [ngTemplateOutletContext]="{ $implicit: item }"
                            ></ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            }
        </div>
        <div
            [cdkDropListData]="zoneData"
            [class.active]="isDragging"
            cdkDropList
            cdkDropListSortingDisabled
            class="insert-zone"
            (cdkDropListDropped)="dropInZone($event, $index + 1)"
        ></div>
    }
</div>
