<div
    cdkDropListGroup
    class="flex flex-col"
    (pointerdown)="isDragging = true"
    (pointerup)="isDragging = false"
>
    <div
        [cdkDropListData]="zoneData[0]"
        [class.active]="isDragging"
        cdkDropList
        cdkDropListSortingDisabled
        class="insert-zone-col"
        (cdkDropListDropped)="dropInZone($event, 0)"
    ></div>
    @for (row of rows; track $index) {
        <div
            [cdkDropListData]="row"
            [class.active]="isDragging"
            cdkDropList
            cdkDropListOrientation="horizontal"
            class="flex flex-row gap-2"
            (cdkDropListDropped)="dropInRow($event)"
        >
            @for (item of row; track item) {
                <mat-card appearance="outlined" cdkDrag class="flex-1 cursor-move shrink-0">
                    <mat-card-content>
                        <div class="content">
                            {{ item }}
                        </div>
                    </mat-card-content>
                </mat-card>
            }
        </div>
        <div
            [cdkDropListData]="zoneData[$index + 1]"
            [class.active]="isDragging"
            cdkDropList
            cdkDropListSortingDisabled
            class="insert-zone-row"
            (cdkDropListDropped)="dropInZone($event, $index + 1)"
        ></div>
    }
</div>
