<cc-base-dialog title="Payment rules init params">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <mat-form-field>
            <input
                matInput
                placeholder="Main deligate description"
                formControlName="delegateDescription"
            />
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="cc-title">Payment routing ruleset</div>
        <div fxLayout="column" fxLayoutGap="16px">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" required />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Description (optional)"
                    formControlName="description"
                />
            </mat-form-field>
        </div>
    </div>

    <cc-base-dialog-actions>
        <button mat-button color="primary" (click)="init()" [disabled]="form.invalid">INIT</button>
    </cc-base-dialog-actions>
</cc-base-dialog>
