<div gdGap="16px">
    <div gdColumns="1fr 1fr 1fr" gdGap="16px">
        <cc-details-item title="ID">{{ payoutTool.id }}</cc-details-item>
        <cc-details-item title="Created At">{{ payoutTool.created_at }}</cc-details-item>
        <cc-details-item title="Currency">{{ payoutTool.currency?.symbolic_code }}</cc-details-item>
    </div>

    <ng-container
        *ngIf="(payoutTool.payout_tool_info | ccUnionKey) === 'international_bank_account'"
    >
        <h2 class="mat-h3">International bank account</h2>
        <cc-international-bank-account-details
            [internationalBankAccount]="payoutTool.payout_tool_info.international_bank_account"
        ></cc-international-bank-account-details>
        <ng-container
            *ngIf="payoutTool.payout_tool_info.international_bank_account?.correspondent_account"
        >
            <h2 class="mat-h3">Correspondent account</h2>
            <div gdColumns="1fr 1fr 1fr" gdGap="16px">
                <cc-international-bank-account-details
                    [internationalBankAccount]="
                        payoutTool.payout_tool_info.international_bank_account.correspondent_account
                    "
                ></cc-international-bank-account-details>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="(payoutTool.payout_tool_info | ccUnionKey) === 'russian_bank_account'">
        <h2 class="mat-h3">Russian bank account</h2>
        <cc-russian-bank-account-details
            [russianBankAccount]="payoutTool.payout_tool_info.russian_bank_account"
        ></cc-russian-bank-account-details>
    </ng-container>

    <ng-container *ngIf="(payoutTool.payout_tool_info | ccUnionKey) === 'wallet_info'">
        <h2 class="mat-h3">Wallet</h2>
        <cc-details-item title="Wallet ID">{{
            payoutTool.payout_tool_info.wallet_info.wallet_id
        }}</cc-details-item>
    </ng-container>

    <ng-container
        *ngIf="(payoutTool.payout_tool_info | ccUnionKey) === 'payment_institution_account'"
    >
        <h2 class="mat-h3">Payment institution account</h2>
    </ng-container>
</div>
