<div class="wrapper">
    <div class="actions">
        <button
            *ngIf="control.invalid"
            [matTooltip]="control.errors | inlineJson: false"
            color="warn"
            mat-icon-button
        >
            <mat-icon>priority_high</mat-icon>
        </button>
        <button color="warn" mat-icon-button (click)="reset()">
            <mat-icon>restart_alt</mat-icon>
        </button>
        <button color="primary" mat-icon-button (click)="toggleKind()">
            <mat-icon *ngIf="kind === 'form'">code</mat-icon>
            <mat-icon *ngIf="kind === 'editor'">edit_note</mat-icon>
        </button>
    </div>
    <cc-metadata-form
        *ngIf="kind === 'form'"
        [extensions]="extensions"
        [formControl]="control"
        [metadata]="metadata"
        [namespace]="namespace"
        [type]="type"
    ></cc-metadata-form>
    <ngx-monaco-editor
        *ngIf="kind === 'editor'"
        [ngModel]="content$ | async"
        [options]="{ language: 'json' }"
        class="monaco-editor"
        (ngModelChange)="contentChange($event)"
    ></ngx-monaco-editor>
</div>
