<div class="wrapper" fxLayout="column" fxLayoutGap="8px">
    <div class="actions" fxLayout fxLayoutAlign="end center" fxLayoutGap="2px">
        <button color="warn" mat-icon-button (click)="reset()">
            <mat-icon>restart_alt</mat-icon>
        </button>
        <button color="primary" mat-icon-button (click)="toggleKind()">
            <mat-icon *ngIf="mode === 'edit' && kind === 'form'">code</mat-icon>
            <mat-icon *ngIf="mode === 'edit' && kind === 'editor'">edit_note</mat-icon>
        </button>
    </div>
    <cc-metadata-form
        *ngIf="kind === 'form'"
        [formControl]="control"
        [metadata]="metadata"
        [namespace]="namespace"
        [type]="type"
    ></cc-metadata-form>
    <cc-monaco-editor
        *ngIf="kind === 'editor'"
        [codeLensProviders]="codeLensProviders"
        [completionProviders]="completionProviders"
        [file]="file$ | async"
        class="monaco-editor"
        (fileChange)="fileChange($event)"
    ></cc-monaco-editor>
</div>
