<ng-container *ngIf="!extension?.hidden">
    <div
        *ngIf="!(view.isValue$ | async); else onlyValue"
        style="display: grid; grid-template-columns: 1fr; gap: 16px"
    >
        <div *ngIf="(view.leaves$ | async)?.length as count" class="grid-container">
            <div [ngClass]="['grid', 'grid-columns-' + count]">
                <ng-container *ngFor="let item of view.leaves$ | async; let i = index">
                    <div
                        *ngIf="!((item.current$ | async)?.extension$ | async)?.hidden"
                        style="display: grid; grid-template-rows: auto 1fr; gap: 8px"
                    >
                        <cc-key
                            [keys]="item.path$ | async"
                            class="mat-caption mat-secondary-text"
                        ></cc-key>

                        <div *ngIf="item.current$ | async as current" class="mat-body-1">
                            <cc-json-viewer
                                *ngIf="!(current.isEmpty$ | async); else empty"
                                [data]="current.data$ | async"
                                [extension]="current.extension$ | async"
                                [extensions]="extensions"
                                [value]="current.value$ | async"
                            ></cc-json-viewer>
                            <ng-template #empty>
                                <mat-icon class="mat-secondary-text" inline>hide_source</mat-icon>
                            </ng-template>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <ng-container *ngFor="let item of view?.nodes$ | async; let idx = index">
            <mat-divider *ngIf="idx > 0 || (view.leaves$ | async)?.length"></mat-divider>
            <div
                [ngStyle]="{
                    display: 'grid',
                    'grid-template-columns':
                        ((item.current$ | async)?.isNumberKey$ | async) ? 'auto 1fr' : '1fr',
                    gap: '16px'
                }"
            >
                <cc-key
                    *ngIf="!((item.current$ | async)?.key.data$ | async); else mapKey"
                    [class]="className"
                    [keys]="item.path$ | async"
                ></cc-key>
                <ng-template #mapKey>
                    <cc-json-viewer
                        *ngIf="(item.current$ | async)?.key as key"
                        [data]="key.data$ | async"
                        [extensions]="extensions"
                        [level]="level + 1"
                        [value]="key.value$ | async"
                    ></cc-json-viewer
                ></ng-template>

                <cc-json-viewer
                    *ngIf="item.current$ | async as current"
                    [data]="current.data$ | async"
                    [extensions]="extensions"
                    [level]="level + 1"
                    [value]="current.value$ | async"
                ></cc-json-viewer>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-template #onlyValue>
    <span
        [queryParams]="extensionQueryParams$ | async"
        [routerLink]="extension?.link?.[0]"
        (click)="extension?.click?.()"
    >
        <span
            *ngIf="extension?.tooltip; else tagValue"
            [matTooltip]="getTooltip(extension.tooltip)"
            matTooltipClass="tooltip"
        >
            <ng-container *ngTemplateOutlet="tagValue"></ng-container>
        </span>
        <ng-template #tagValue>
            <v-tag *ngIf="extension?.tag; else simpleValue" [color]="extension?.color">
                <ng-container *ngTemplateOutlet="simpleValue"></ng-container>
            </v-tag>
        </ng-template>
        <ng-template #simpleValue>
            <span
                [ngClass]="{
                    link: !!extension?.click || !!extension?.link?.[0],
                    'tooltip-link': !!extension?.tooltip,
                    'mat-body-1': !extension?.tag
                }"
                >{{ view.renderValue$ | async }}</span
            >
        </ng-template>
    </span>
</ng-template>
