<div gdColumns="1fr" gdGap="16px">
    <div *ngIf="items.length" gdColumns="1fr 1fr 1fr" gdGap="16px">
        <cc-details-item
            *ngFor="let item of items; let i = index"
            [empty]="!item[1]"
            [title]="getKey(item) | keyTitle | titlecase"
        >
            {{ item[1] }}
        </cc-details-item>
    </div>

    <ng-container *ngFor="let item of objects; let i = index">
        <mat-divider *ngIf="i !== 0 || items.length"></mat-divider>
        <div [gdColumns]="isIndex(item) ? 'auto 1fr' : '1fr'" gdGap="16px">
            <span [class]="className">{{
                isIndex(item) ? item[0][0] + 1 + '.' : (getKey(item) | keyTitle | titlecase)
            }}</span>
            <cc-json-viewer [json]="item[1]" [level]="level + 1"></cc-json-viewer>
        </div>
    </ng-container>
</div>
