<cc-page-layout
  [id]="(partyRuleset$ | async)?.ref?.id"
  [progress]="isLoading$ | async"
    [upLink]="[
        '/party/' +
            (partyID$ | async) +
            '/routing-rules/' +
            (routingRulesTypeService.routingRulesType$ | async),
    ]"
  fullHeight
  title="Party Routing Rules"
  (idLinkClick)="openRefId()"
  >
  <cc-page-layout-actions>
    <button [disabled]="isLoading$ | async" mat-flat-button (click)="add()">
      {{ (partyRuleset$ | async) ? 'Add' : 'Init' }}
    </button>
  </cc-page-layout-actions>
  @if ((routingRulesTypeService.routingRulesType$ | async) === 'payment') {
    <cc-routing-rules-list
      [data]="shopsData$ | async"
      [displayedColumns]="shopsDisplayedColumns"
      (toDetails)="navigateToDelegate($event.parentRefId, $event.delegateIdx)"
    ></cc-routing-rules-list>
  }
  @if ((routingRulesTypeService.routingRulesType$ | async) === 'withdrawal') {
    <cc-routing-rules-list
      [data]="walletsData$ | async"
      [displayedColumns]="walletsDisplayedColumns"
      (toDetails)="navigateToDelegate($event.parentRefId, $event.delegateIdx)"
    ></cc-routing-rules-list>
  }
</cc-page-layout>
