<table *ngIf="displayedColumns" [dataSource]="deposits" fxFlex="100" mat-table>
    <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let deposit" class="id" mat-cell>
            {{ deposit.id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let deposit" mat-cell>
            <cc-status [color]="deposit.status | toStatus | toDepositColor">{{
                deposit.status | toStatus
            }}</cc-status>
        </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef mat-header-cell>Created At</th>
        <td *matCellDef="let deposit" mat-cell>
            {{ deposit.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="destinationID">
        <th *matHeaderCellDef mat-header-cell>Destination ID</th>
        <td *matCellDef="let deposit" mat-cell>
            {{ deposit.destination_id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell>Amount</th>
        <td *matCellDef="let deposit" mat-cell>
            {{ deposit.amount | ccFormatAmount }}
            {{ deposit.currency_symbolic_code | ccCurrency }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let deposit" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    *ngFor="let action of depositActions"
                    (click)="menuItemSelected(action, deposit.id)"
                    mat-menu-item
                >
                    {{ action | ccDepositActions }}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
