<div style="display: flex; flex-direction: column; gap: 8px">
    <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <div class="mat-headline-4 title" fxLayout fxLayoutAlign=" center" fxLayoutGap="8px">
            <mat-icon *ngIf="backTo" class="back" (click)="navigateBack()">arrow_back</mat-icon>
            <div><ng-content></ng-content></div>
        </div>
        <button mat-button (click)="add.emit($event)">Add rule</button>
    </div>
    <div *ngIf="description" class="mat-h3 cc-routing-rules-caption">
        {{ description }}
    </div>
    <div class="mat-caption cc-routing-rules-caption">
        <a
            [queryParams]="{
                ref: queryRef,
                types: queryTypes
            }"
            class="mat-secondary-text"
            routerLink="/domain"
        >
            Ruleset ref ID: {{ refID }}</a
        >
    </div>
</div>
