<div class="editor-container">
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="cc-display-1">Create</div>
        <mat-card>
            <mat-card-content class="content">
                <cc-thrift-editor
                    *ngIf="!review"
                    [extensions]="extensions$ | async"
                    [formControl]="control"
                    [metadata]="metadata$ | async"
                    class="editor"
                    kind="form"
                    namespace="domain"
                    type="DomainObject"
                ></cc-thrift-editor>
                <cc-thrift-viewer
                    *ngIf="review"
                    [value]="control.value"
                    class="editor"
                ></cc-thrift-viewer>
            </mat-card-content>
        </mat-card>
        <cc-actions>
            <button
                *ngIf="!review"
                [disabled]="!!(progress$ | async)"
                mat-button
                routerLink="/domain"
            >
                <mat-icon aria-label="Login">keyboard_arrow_left</mat-icon>
                BACK TO DOMAIN
            </button>
            <button
                *ngIf="review"
                [disabled]="!!(progress$ | async)"
                mat-button
                (click)="review = false"
            >
                <mat-icon aria-label="Login">keyboard_arrow_left</mat-icon>
                BACK TO EDIT
            </button>

            <button
                [disabled]="control.invalid || !!(progress$ | async)"
                color="primary"
                mat-button
                (click)="review ? commit() : reviewChanges()"
            >
                {{ review ? 'COMMIT' : 'REVIEW' }}
                <mat-icon aria-label="Login">keyboard_arrow_right</mat-icon>
            </button>
        </cc-actions>
    </div>
</div>
