<div fxLayout="column">
    <mat-form-field>
        <mat-select
            (selectionChange)="selectionChange($event)"
            [disabled]="isLoading || hasError"
            [value]="initialValue"
            placeholder="Select schedule"
        >
            <mat-option *ngFor="let schedule of schedules$ | async" [value]="schedule.ref.id">
                {{ schedule.ref.id }} {{ schedule.data.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
