<v-dialog
    [description]="
        dialogData.member.user.email
            ? dialogData.member.user.email + ' (' + dialogData.member.user.id + ')'
            : dialogData.member.user.id
    "
    [progress]="progress()"
    title="Manage roles"
>
    <cc-role-assignments-field [formField]="control" [partyId]="dialogData.partyId" />

    <v-dialog-actions>
        <button mat-button (click)="closeWithCancellation()">Cancel</button>
        <button [disabled]="progress() || control().invalid()" mat-flat-button (click)="save()">
            Save
        </button>
    </v-dialog-actions>
</v-dialog>
