<div class="flex flex-col gap-4">
    <v-select-field
        [clearable]="false"
        [formField]="control.roleId"
        [options]="rolesOptions"
        label="Role"
    />

    <v-select-field
        [clearable]="false"
        [formField]="control.scopeId"
        [options]="scopeOptions"
        label="Scope"
        (valueChange)="changeScope()"
    />

    @if (value().scopeId === 'Wallet') {
        <cc-wallet-field
            [formField]="control.resourceIds"
            [partyId]="partyId()"
            hint="Leave empty for entire organization"
            multiple
            placeholder="Entire organization"
        />
    } @else {
        <cc-shop-field
            [formField]="control.resourceIds"
            [partyId]="partyId()"
            hint="Leave empty for entire organization"
            multiple
            placeholder="Entire organization"
        />
    }
</div>
