<div fxLayout="column" fxLayoutGap="24px">
    <cc-headline>Shop details</cc-headline>
    <mat-card>
        <mat-card-content>
            <cc-json-viewer
                *ngIf="shop$ | async as shop"
                [extensions]="extensions$ | async"
                [metadata]="metadata$ | async"
                [value]="shop"
                namespace="domain"
                type="Shop"
            ></cc-json-viewer>
            <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center center">
                <mat-spinner diameter="64"></mat-spinner>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Contract</mat-card-title>
        <mat-card-content>
            <cc-json-viewer
                *ngIf="contract$ | async as contract"
                [extensions]="extensions$ | async"
                [metadata]="metadata$ | async"
                [value]="contract"
                namespace="domain"
                type="Contract"
            ></cc-json-viewer>
            <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center center">
                <mat-spinner diameter="64"></mat-spinner>
            </div>
        </mat-card-content>
    </mat-card>
    <cc-actions *ngIf="shop$ | async as shop">
        <button mat-raised-button (click)="toggleSuspension()">
            {{ (shop.suspension | ccUnionKey) === 'active' ? 'SUSPEND' : 'ACTIVATE' }}
        </button>
        <button color="warn" mat-raised-button (click)="toggleBlocking()">
            {{ (shop.blocking | ccUnionKey) === 'unblocked' ? 'BLOCK' : 'UNBLOCK' }}
        </button>
    </cc-actions>
</div>
