<cc-page-layout title="Payments">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters
        #filters
        [active]="active"
        merge
        (clear)="filtersForm.reset(); otherFiltersControl.reset()"
    >
        <ng-template [formGroup]="filtersForm" vMainFilters>
            <v-date-range-field formControlName="dateRange"></v-date-range-field>
            <v-list-field
                focusedHint="invoice_1, invoice_2.payment_2"
                formControlName="invoice_ids"
                label="Invoice and Payment Ids"
            ></v-list-field>
            <cc-merchant-field formControlName="party_id"></cc-merchant-field>
            <cc-shop-field
                [partyId]="filtersForm.value.party_id"
                formControlName="shop_ids"
                multiple
            ></cc-shop-field>
            <v-input-field formControlName="payment_first6" label="Card BIN"></v-input-field>
            <v-input-field formControlName="payment_last4" label="Card PAN"></v-input-field>
            <v-input-field formControlName="payment_rrn" label="Payment RRN"></v-input-field>
            <v-input-field formControlName="payment_email" label="Payer email"></v-input-field>
            <v-input-field formControlName="error_message" label="Error message"></v-input-field>
        </ng-template>
        <ng-template vOtherFilters>
            <cc-metadata-form
                [extensions]="extensions"
                [formControl]="otherFiltersControl"
                [metadata]="metadata$ | async"
                namespace="magista"
                type="PaymentSearchQuery"
            ></cc-metadata-form>
        </ng-template>
    </v-filters>
    <cc-payments-table
        [data]="(payments$ | async) || []"
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        [selected]="selected$ | async"
        (more)="more()"
        (selectedChange)="selected$.next($event)"
        (update)="load($event ?? {})"
    >
        <button
            [disabled]="!(selected$ | async)?.length"
            color="primary"
            mat-raised-button
            (click)="failMachines()"
        >
            Fail machines
        </button>
        <button
            [disabled]="!(selected$ | async)?.length"
            color="primary"
            mat-raised-button
            (click)="createPaymentAdjustment()"
        >
            Create adjustments
        </button>
    </cc-payments-table>
</cc-page-layout>
