<v-dialog
    [progress]="!!(progress$ | async)"
    title="{{ isReview ? 'Review' : 'Create' }} domain object"
>
    <div>
        @if (!isReview) {
            <v-select-field
                [formControl]="typeControl"
                [options]="options"
                label="Object type"
            ></v-select-field>
        }

        @if (type$ | async) {
            @if (isReview) {
                <cc-domain-thrift-viewer
                    [type]="type$ | async"
                    [value]="control.value"
                    kind="editor"
                ></cc-domain-thrift-viewer>
            } @else {
                <cc-domain-thrift-editor
                    [formControl]="control"
                    [type]="type$ | async"
                ></cc-domain-thrift-editor>
            }
        }
    </div>

    <v-dialog-actions>
        @if (isReview) {
            <button [disabled]="!!(progress$ | async)" mat-button (click)="isReview = false">
                Edit
            </button>
            <button [disabled]="!!(progress$ | async)" mat-flat-button (click)="create()">
                Create
            </button>
        } @else {
            <button [disabled]="control.invalid" mat-flat-button (click)="isReview = true">
                Review
            </button>
        }
    </v-dialog-actions>
</v-dialog>
