$offset: 24px;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: $offset;

    &__full-height {
        height: calc(100vh - var(--mat-toolbar-standard-height) - ($offset * 2));
    }

    .header {
        display: flex;
        justify-content: space-between;
        min-height: 48px;
        gap: 8px;
    }

    ::ng-deep & > *:last-child {
        min-height: 0;
        height: 100%;
    }
}
