<div
    *ngIf="error.code !== 'operation_timeout'; else timeout"
    style="display: flex; flex-direction: column; gap: 16px"
>
    <div fxLayout fxLayoutGap="16px">
        <cc-details-item fxFlex="32" title="Code">{{ error.code }}</cc-details-item>
        <cc-details-item fxFlex title="Reason">{{ error.reason }}</cc-details-item>
    </div>
    <cc-details-item *ngIf="error.path" fxFlex title="Sub Failure">{{
        error.path
    }}</cc-details-item>
</div>
<ng-template #timeout>
    <cc-details-item fxFlex>Operation timeout</cc-details-item>
</ng-template>
