<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px">
    <cc-details-item title="BIC">{{ internationalBankAccount.bank.bic }}</cc-details-item>
    <cc-details-item title="Country">{{ internationalBankAccount.bank.country }}</cc-details-item>
    <cc-details-item title="Address">{{ internationalBankAccount.bank.address }}</cc-details-item>
    <cc-details-item title="ABA RTN">{{ internationalBankAccount.bank.aba_rtn }}</cc-details-item>
    <cc-details-item title="Account Holder">{{
        internationalBankAccount.account_holder
    }}</cc-details-item>
    <cc-details-item title="IBAN">{{ internationalBankAccount.iban }}</cc-details-item>
    <cc-details-item title="Number">{{ internationalBankAccount.number }}</cc-details-item>
</div>
