<cc-form-wrapper name="Russian bank account">
    <form [formGroup]="form" fxLayout="column">
        <mat-form-field>
            <input formControlName="account" matInput placeholder="Account" required />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="bank_name" matInput placeholder="Bank name" required />
        </mat-form-field>
        <mat-form-field>
            <input
                formControlName="bank_post_account"
                matInput
                placeholder="Bank post account"
                required
            />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="bank_bik" matInput placeholder="Bank bik" required />
        </mat-form-field>
    </form>
</cc-form-wrapper>
