<div style="display: flex; gap: 8px">
    <mat-form-field style="width: 100%">
        <mat-label>{{ label || 'Amount' }}</mat-label>
        <span matPrefix>{{ prefix }}&nbsp;</span>
        <input
            [formControl]="amountControl"
            [inputMask]="amountMask$ | async"
            [required]="required"
            matInput
        />
    </mat-form-field>
    <v-select-field
        [formControl]="currencyControl"
        [options]="options$ | async"
        [style.width.px]="200"
        label="Currency"
    ></v-select-field>
</div>
