<cc-page-layout title="Wallets">
    <cc-page-layout-actions>
        <v-more-filters-button *ngIf="filters" [filters]="filters"></v-more-filters-button>
        <!--TODO wait backend fix-->
        <!--        <v-switch-button-->
        <!--            [formControl]="isFilterControl"-->
        <!--            [states]="[-->
        <!--                { label: 'full-text search', icon: 'travel_explore' },-->
        <!--                { label: 'filters', icon: 'manage_search' }-->
        <!--            ]"-->
        <!--        ></v-switch-button>-->
    </cc-page-layout-actions>
    <v-filters
        *ngIf="isFilterControl.value"
        [active]="active$ | async"
        merge
        (clear)="filtersForm.reset()"
    >
        <ng-template [formGroup]="filtersForm">
            <cc-merchant-field
                *ngIf="!(party$ | async)"
                formControlName="party_id"
            ></cc-merchant-field>
            <v-list-field formControlName="wallet_id" label="Wallet IDs"></v-list-field>
            <mat-form-field>
                <mat-label>Identity ID</mat-label>
                <input formControlName="identity_id" matInput />
            </mat-form-field>
            <cc-currency-field formControlName="currency_code"></cc-currency-field>
        </ng-template>
    </v-filters>

    <v-table
        *ngIf="isFilterControl.value"
        [columns]="filterColumns$ | async"
        [data]="filterWallets$ | async"
        [hasMore]="filterHasMore$ | async"
        [progress]="filtersLoading$ | async"
        name="filterWallets"
        (more)="filterMore()"
        (update)="filterSearch($event)"
    ></v-table>
    <v-table
        *ngIf="!isFilterControl.value"
        [columns]="fullTextSearchColumns"
        [data]="fullTextSearchWallets$ | async"
        [progress]="fullTextSearchLoading$ | async"
        externalFilter
        name="ftsWallets"
        noActions
        (filterChange)="fullTextSearch($event)"
        (update)="fullTextSearchReload()"
    ></v-table>
</cc-page-layout>
