<form [formGroup]="form" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-form-field fxFlex>
        <mat-select formControlName="statuses" multiple placeholder="Claim statuses">
            <mat-option *ngFor="let status of claimStatuses" [value]="status">{{
                status | ccClaimStatus
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input
            autocomplete="off"
            formControlName="claim_id"
            matInput
            placeholder="Claim ID"
            type="number"
        />
    </mat-form-field>
    <cc-merchant-field
        *ngIf="!hideMerchantSearch"
        formControlName="party_id"
        fxFlex
    ></cc-merchant-field>
</form>
