<v-dialog [progress]="progress()" title="Add member">
    <div class="flex flex-col gap-4">
        <cc-user-field [formField]="control.user_id" (userSelected)="onUserSelected($event)" />
        <v-input-field [formField]="control.email" label="Email" />
        <cc-role-assignments-field [formField]="control.roles" [partyId]="dialogData.partyId" />
    </div>

    <v-dialog-actions>
        <button [disabled]="progress() || control().invalid()" mat-flat-button (click)="add()">
            Add
        </button>
    </v-dialog-actions>
</v-dialog>
