<cc-base-dialog title="Attach party delegate ruleset">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <cc-target-ruleset-form
            [type]="dialogData.type"
            (valid)="targetRulesetValid$.next($event)"
            (valueChanges)="targetRuleset$.next($event)"
        ></cc-target-ruleset-form>

        <ng-container formGroupName="ruleset">
            <mat-divider></mat-divider>
            <div class="cc-title">Routing ruleset</div>
            <div fxLayout="column" fxLayoutGap="16px">
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Name" required />
                </mat-form-field>
                <mat-form-field>
                    <input
                        formControlName="description"
                        matInput
                        placeholder="Description (optional)"
                    />
                </mat-form-field>
            </div>
        </ng-container>
    </div>

    <cc-base-dialog-actions>
        <button
            [disabled]="form.invalid || !(targetRulesetValid$ | async)"
            color="primary"
            mat-button
            (click)="attach()"
        >
            ATTACH
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
