<table [dataSource]="terminalsInfo" fxFlex mat-table>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Name</th>
        <td *matCellDef="let terminalInfo" mat-cell>{{ terminalInfo.terminal.data.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Description</th>
        <td *matCellDef="let terminalInfo" mat-cell>
            {{ terminalInfo.terminal.data.description }}
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Type</th>
        <td *matCellDef="let terminalInfo" mat-cell>{{ terminalInfo.predicateType }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Priority</th>
        <td *matCellDef="let terminalInfo" mat-cell>
            {{ terminalInfo.priority }}
        </td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Weight</th>
        <td *matCellDef="let terminalInfo" mat-cell>{{ terminalInfo.weight }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Status</th>
        <td *matCellDef="let terminalInfo" mat-cell>
            {{ !terminalInfo.disabled | ccIsActive }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let terminalInfo" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    (click)="actions(terminalActionTypes.EditWeight, terminalInfo.terminal.ref.id)"
                    mat-menu-item
                >
                    Edit weight
                </button>
                <button
                    (click)="
                        actions(terminalActionTypes.EditPriority, terminalInfo.terminal.ref.id)
                    "
                    mat-menu-item
                >
                    Edit priority
                </button>
                <button
                    (click)="
                        actions(terminalActionTypes.RemoveTerminal, terminalInfo.terminal.ref.id)
                    "
                    mat-menu-item
                >
                    Remove terminal
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let shop; columns: displayedColumns" mat-row></tr>
</table>
