<table [dataSource]="refunds" mat-table>
    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Created At</th>
        <td *matCellDef="let refund" mat-cell>
            {{ refund.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Status</th>
        <td *matCellDef="let refund" mat-cell>
            <cc-status>{{ refund.status | ccMapUnion: mapStatus }}</cc-status>
        </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Amount</th>
        <td *matCellDef="let refund" mat-cell>
            {{ refund.amount | ccFormatAmount }}
            {{ refund.currency_symbolic_code | ccCurrency }}
        </td>
    </ng-container>

    <ng-container matColumnDef="reason">
        <th *matHeaderCellDef class="cc-caption" mat-header-cell>Reason</th>
        <td *matCellDef="let refund" mat-cell>
            {{ refund.reason }}
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
