<cc-card title="Terminal #{{ ref.id }} delegates">
    @let rules = rules$ | async;

    <v-table
        [(rowSelected)]="selectedRules"
        [columns]="columns"
        [data]="rules"
        [progress]="progress$ | async"
        noActions
        rowSelectable
    >
        <v-table-actions>
            @let isPredicatesAllowed = isPredicatesAllowed$ | async;

            <button
                [disabled]="isPredicatesAllowed === null"
                mat-button
                (click)="
                    changeRulesAllowed(
                        selectedRules()?.length ? selectedRules() : rules,
                        !isPredicatesAllowed
                    )
                "
            >
                {{ isPredicatesAllowed ? 'Disable' : 'Enable'
                }}{{ selectedRules()?.length ? ' ' + selectedRules().length : ' all' }}
            </button>
        </v-table-actions>
    </v-table>
</cc-card>
