<cc-card title="Terminal #{{ ref.id }} delegates">
    @let rules = rules$ | async;

    <v-table
        [(rowSelected)]="selectedRules"
        [columns]="columns"
        [data]="rules"
        [progress]="progress$ | async"
        noActions
        rowSelectable
    >
        <v-table-actions>
            @let isPredicatesAllowed = isPredicatesAllowed$ | async;

            <div matTooltip="All selections must be either allowed or denied">
                <button
                    [disabled]="!(rules$ | async)?.length || isPredicatesAllowed === null"
                    [matBadge]="isPredicatesAllowed === null ? '!' : ''"
                    mat-button
                    (click)="changeRulesAllowed()"
                >
                    {{
                        isPredicatesAllowed === null
                            ? 'Toggle'
                            : isPredicatesAllowed
                              ? 'Disable'
                              : 'Enable'
                    }}{{ selectedRules()?.length ? ' ' + selectedRules().length : ' all' }}
                </button>
            </div>
        </v-table-actions>
    </v-table>
</cc-card>
