@let inProgress = !!(progress$ | async);
@let generateDisabled = !hasMissingAccounts() || inProgress || currency()?.length !== 3;

<div class="flex gap-1">
    <v-autocomplete-field
        [formControl]="control"
        [hint]="hint()"
        [label]="label()"
        [options]="options$ | async"
        class="flex-1"
        (focusout)="markAsTouched()"
    ></v-autocomplete-field>
    <button
        [disabled]="disabled() || generateDisabled"
        [matTooltip]="
            hasMissingAccounts()
                ? currencyAccounts().length === accountsNumber()
                    ? 'Generate optional accounts'
                    : 'Generate missing accounts'
                : 'All accounts are set'
        "
        mat-icon-button
        (click)="hasMissingAccounts() ? generate() : undefined"
    >
        <mat-icon>{{ inProgress ? 'pending' : 'bolt' }}</mat-icon>
    </button>
</div>
