<mat-card fxLayout="column" fxLayoutGap="24px">
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <cc-send-comment fxFlex="100"></cc-send-comment>
        <cc-file-uploader></cc-file-uploader>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button (click)="changeStatus()" [disabled]="!canChangeStatus()" mat-button>
            CHANGE STATUS
        </button>
        <button (click)="addPartyModification()" mat-button>ADD PARTY MODIFICATION</button>
    </mat-card-actions>
</mat-card>
