<v-dialog [progress]="progress()" title="Create shop webhook">
    <div class="flex flex-col gap-4">
        <cc-shop-merchant-field [formField]="control.partyShop" />
        <v-input-field [formField]="control.url" label="URL" required />
        <div class="flex flex-col gap-1.5">
            <div class="font-medium text-sm text-neutral-600 dark:text-neutral-300">
                Invoice Event Types
            </div>
            <cc-event-types-field
                [formField]="control.eventTypes"
                [structure]="eventTypesStructure"
            />
        </div>
    </div>
    <v-dialog-actions>
        <button [disabled]="progress() || control().invalid()" mat-button (click)="create()">
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
