<div class="mat-dialog-title">Cancel payout</div>
<mat-dialog-content gdColumns="1fr">
    <mat-form-field>
        <mat-label>Details</mat-label>
        <input [formControl]="detailsControl" matInput required type="text" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="space-between">
    <button [disabled]="!!(progress$ | async)" [mat-dialog-close]="false" mat-button>Cancel</button>
    <button
        [disabled]="detailsControl.invalid || !!(progress$ | async)"
        color="primary"
        mat-button
        (click)="accept()"
    >
        ACCEPT
    </button>
    <mat-progress-bar *ngIf="progress$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
