<v-dialog [progress]="progress$ | async" title="Cancel payout">
    <mat-form-field>
        <mat-label>Details</mat-label>
        <input [formControl]="detailsControl" matInput required type="text" />
    </mat-form-field>
    <v-dialog-actions>
        <button
            [disabled]="detailsControl.invalid || !!(progress$ | async)"
            color="primary"
            mat-button
            (click)="accept()"
        >
            Accept
        </button>
    </v-dialog-actions>
</v-dialog>
