<v-dialog [progress]="isLoading$ | async" title="Create deposit">
    <form *ngIf="form" [formGroup]="form" style="display: flex; flex-direction: column; gap: 16px">
        <mat-form-field>
            <input formControlName="destination" matInput placeholder="Destination" required />
        </mat-form-field>
        <div style="display: flex; gap: 24px">
            <mat-form-field style="flex: 1">
                <input
                    formControlName="amount"
                    matInput
                    placeholder="Amount"
                    required
                    type="number"
                />
            </mat-form-field>
            <mat-form-field style="flex: 1">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency" required>
                    <mat-option *ngFor="let source of sources$ | async" [value]="source">
                        {{ source.currency_symbolic_code }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <v-dialog-actions>
        <button
            [disabled]="(isLoading$ | async) || form.invalid"
            color="primary"
            mat-button
            (click)="createDeposit()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
