<v-dialog [progress]="progress$ | async" title="Create deposit">
    <cc-fistful-thrift-form
        [extensions]="extensions"
        [formControl]="control"
        namespace="deposit"
        noChangeKind
        type="DepositParams"
    ></cc-fistful-thrift-form>
    <v-dialog-actions>
        <button
            [disabled]="(progress$ | async) || control.invalid"
            color="primary"
            mat-button
            (click)="create()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>

<ng-template #sourceCashTemplate let-control="control">
    <cc-source-cash-field [formControl]="control"></cc-source-cash-field>
</ng-template>
