<div class="payment-adjustment-container" fxLayout="column" fxLayoutGap="24px">
    <div class="cc-headline">Payment adjustments</div>
    <mat-card>
        <mat-card-content>
            <cc-payment-adjustment-search-form
                (statusChanges)="formStatusChanges($event)"
                (valueChanges)="formValueChanges($event)"
            >
            </cc-payment-adjustment-search-form>
        </mat-card-content>
        <mat-card-actions>
            <button
                (click)="search()"
                [disabled]="!formValid || isLoading"
                color="primary"
                mat-button
            >
                SEARCH PAYMENTS
            </button>
        </mat-card-actions>
        <mat-card-footer *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
                <div>Found: {{ payments.length }}</div>
                <div>Selected: {{ selectedPayments.length }}</div>
                <button
                    (click)="create()"
                    [disabled]="!selectedPayments.length"
                    color="primary"
                    mat-button
                >
                    CREATE
                </button>
            </div>
            <cc-payment-adjustment-table
                (changeSelected)="changeSelected($event)"
                [payments]="payments"
            >
            </cc-payment-adjustment-table>
        </mat-card-content>
    </mat-card>
</div>
