<cc-toolbar />

<mat-sidenav-container autosize class="container">
    <mat-sidenav
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        opened
        role="navigation"
        style="width: auto; border-right: 1px solid #ddd; border-radius: 0"
    >
        <div style="display: flex; flex-direction: column; height: 100%">
            <v-nav [links]="links$ | async" exact style="display: block"></v-nav>
            <div style="margin-top: auto; padding: 16px 8px">
                <button [matMenuTriggerFor]="userMenu" mat-button>
                    <mat-icon>account_circle</mat-icon>
                    {{ username() }}
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content" role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
        [opened]="sidenavInfoService.opened$ | async"
        class="sidenav-info"
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        position="end"
        style="border-left: 1px solid #ddd; border-radius: 0"
    >
        <cc-sidenav-info></cc-sidenav-info>
    </mat-sidenav>
</mat-sidenav-container>
