<cc-toolbar />

<mat-sidenav-container autosize class="container">
    <mat-sidenav
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        opened
        role="navigation"
        style="width: auto"
    >
        <v-nav [links]="links$ | async" exact style="display: block"></v-nav>
    </mat-sidenav>
    <mat-sidenav-content class="content" role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
        [opened]="sidenavInfoService.opened$ | async"
        class="sidenav-info"
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        position="end"
    >
        <cc-sidenav-info></cc-sidenav-info>
    </mat-sidenav>
</mat-sidenav-container>
