<mat-sidenav-container autosize class="app-container">
    <mat-sidenav
        class="!w-auto !rounded-none !bg-transparent"
        fixedInViewport="true"
        mode="side"
        opened
        role="navigation"
    >
        <div class="flex flex-col h-full gap-4">
            <div class="px-2 pt-7">
                <button class="flex items-center gap-1" mat-button routerLink="/">
                    <mat-icon>dashboard</mat-icon>
                    control center
                </button>
            </div>
            <div class="px-2">
                <button class="search-button !text-gray-500" matButton (click)="cmdkService.open()">
                    <mat-icon>search</mat-icon>
                    <div class="flex items-center gap-1">
                        <div>Search...</div>
                        <div class="flex items-center gap-0.5 text-xs">
                            @for (key of searchKeys; track key) {
                                <kbd
                                    [ngClass]="{ 'px-1': key.length > 1 }"
                                    class="bg-gray-200 rounded min-w-4 h-4"
                                    >{{ key }}</kbd
                                >
                            }
                        </div>
                    </div>
                </button>
            </div>

            <v-nav [links]="links" class="block"></v-nav>
            <div class="mt-auto px-2 py-4">
                <button [matMenuTriggerFor]="userMenu" class="flex items-center gap-2" mat-button>
                    <mat-icon>account_circle</mat-icon>
                    {{ username() }}
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
        [opened]="sidenavInfoService.opened$ | async"
        class="sidenav-info"
        class="border-l-1 border-gray-200 border-rounded-none"
        fixedInViewport="true"
        mode="side"
        position="end"
    >
        <cc-sidenav-info></cc-sidenav-info>
    </mat-sidenav>
</mat-sidenav-container>
