<v-dialog [progress]="progress$ | async" title="Create chargebacks">
    <cc-upload-csv
        [(selected)]="selected"
        [errors]="$any(errors)"
        [formatDescription]="['reason.category: fraud, dispute, authorisation, processing_error']"
        [props]="$any(props)"
    ></cc-upload-csv>
    <v-dialog-actions>
        <button
            *ngIf="successfullyChargebacks?.length"
            [disabled]="!!(progress$ | async)"
            mat-button
            (click)="closeWithSuccess()"
        >
            Close and find {{ successfullyChargebacks.length }} successful chargebacks
        </button>
        <button
            [disabled]="!selected?.length || !!(progress$ | async)"
            mat-button
            (click)="create()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
