<mat-form-field style="width: 100%">
    <mat-label>{{ label }}</mat-label>
    <mat-select
        [multiple]="multiple"
        [value]="valueWithSelectAllSymbol"
        (valueChange)="change($event)"
    >
        <mat-select-trigger>
            {{ isAllSelected ? 'All selected' : currentLabel }}
        </mat-select-trigger>
        <mat-option [value]="selectAllSymbol" (click)="toggle()">
            <b>{{ isAllSelected ? 'Deselect all' : 'Select all' }}</b>
        </mat-option>
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-select>
</mat-form-field>
