<div class="mat-dialog-title">
    {{ action.name | ccModificationName: getContainerType(action.type) }}
</div>
<mat-dialog-content>
    <mat-vertical-stepper [selectedIndex]="currentStep">
        <mat-step>
            <ng-template matStepLabel>Prepare party modification target</ng-template>
            <cc-party-modification-target
                (valueChanges)="unitIDChange($event)"
                [partyID]="partyID"
                [partyTarget]="getPartyTarget(action.type)"
                [unitID]="unitID"
            >
            </cc-party-modification-target>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Fill in party modification params</ng-template>
                <cc-party-modification-creation
                    (statusChanges)="statusChanges($event)"
                    (valueChanges)="valueChanges($event)"
                    [action]="action"
                    [modification]="data?.modification?.modification"
                    [unitID]="unitID"
                    [unitIDDisabled]="true"
                >
                </cc-party-modification-creation>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions *ngIf="initialized">
    <button (click)="apply()" [disabled]="isLoading || !valid" color="primary" mat-button>
        APPLY
    </button>
    <button [disabled]="isLoading" [mat-dialog-close]="false" mat-button>CANCEL</button>
</mat-dialog-actions>
