<cc-page-layout [description]="(payout$ | async)?.id" [progress]="progress$ | async" title="Payout">
    <cc-page-layout-actions *ngIf="payout$ | async as payout">
        <button
            [disabled]="canBeCancelled(payout.status | ngtUnionKey)"
            color="warn"
            mat-raised-button
            (click)="cancel(payout.id)"
        >
            Cancel
        </button>
        <button
            [disabled]="canBeConfirmed(payout.status | ngtUnionKey)"
            color="primary"
            mat-raised-button
            (click)="confirm(payout.id)"
        >
            Confirm
        </button>
    </cc-page-layout-actions>
    <ng-container *ngIf="payout$ | async as payout">
        <mat-card>
            <mat-card-content style="display: grid; gap: 16px">
                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px">
                    <cc-details-item title="Payout ID">{{ payout.payout_id }}</cc-details-item>
                    <cc-details-item title="Amount">
                        {{ payout.amount | ccFormatAmount }}
                        {{ payout.currency.symbolic_code | ccCurrency }}
                    </cc-details-item>
                    <cc-details-item title="Fee">
                        {{ payout.fee | ccFormatAmount }}
                        {{ payout.currency.symbolic_code | ccCurrency }}
                    </cc-details-item>
                    <cc-details-item title="Status">{{
                        payout.status | ngtUnionKey
                    }}</cc-details-item>
                    <cc-details-item *ngIf="payout.status.cancelled" title="Status Details">{{
                        payout.status.cancelled.details
                    }}</cc-details-item>
                    <cc-details-item title="Created At">{{
                        payout.created_at | date: 'dd.MM.yyyy HH:mm:ss'
                    }}</cc-details-item>
                </div>

                <ng-container *ngIf="party$ | async as party">
                    <div><mat-divider></mat-divider></div>
                    <h2 class="mat-headline-4">Party</h2>
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px">
                        <cc-details-item title="ID">{{ payout.party_id }}</cc-details-item>
                        <cc-details-item title="Email">
                            {{ party.contact_info?.email }}
                        </cc-details-item>
                    </div>
                </ng-container>

                <div><mat-divider></mat-divider></div>
                <h2 class="mat-headline-4">Shop</h2>
                <cc-shop-details [shop]="shop$ | async"></cc-shop-details>

                <ng-container *ngIf="payoutTool$ | async as payoutTool">
                    <div><mat-divider></mat-divider></div>
                    <h2 class="mat-headline-4">Payout Tool</h2>
                    <cc-payout-tool-details [payoutTool]="payoutTool"></cc-payout-tool-details>
                </ng-container>
            </mat-card-content>
        </mat-card>

        <h2 class="mat-h1 mat-no-margin">Cash Flow</h2>
        <v-table [columns]="cashFlowColumns" [data]="payout.cash_flow"></v-table>
    </ng-container>
</cc-page-layout>
