<v-dialog title="Edit Candidate">
    <div [formGroup]="form" class="flex flex-col gap-4">
        <cc-domain-object-field formControlName="terminal" type="terminal"></cc-domain-object-field>
        <v-input-field formControlName="description" label="Description"></v-input-field>
        <div class="flex gap-2">
            <v-input-field
                [label]="weightTypeControl.value === 'weight' ? 'Weight' : 'Percent'"
                class="flex-1"
                formControlName="weight"
                type="number"
            ></v-input-field>
            <v-select-field
                [formControl]="weightTypeControl"
                [options]="weightOptions"
                class="flex-1"
                label="Type"
            ></v-select-field>
        </div>
        <div class="flex flex-col gap-1 -mt-6 mb-6">
            <div class="flex flex-wrap gap-2">
                @for (item of weightsPreview$ | async; track $index; let isFirst = $first) {
                    <div
                        [class.bg-neutral-200]="isFirst"
                        [class.text-neutral-900]="isFirst"
                        [title]="item.description"
                        class="px-2 py-1 border rounded text-sm"
                    >
                        {{ item.percent }}
                    </div>
                }
            </div>
        </div>
        <cc-domain-thrift-editor
            formControlName="allowed"
            label="Allowed"
            namespace="domain"
            noToolbar
            type="Predicate"
        ></cc-domain-thrift-editor>
    </div>
    <v-dialog-actions>
        <button [disabled]="form.invalid" mat-flat-button (click)="confirm()">Save</button>
    </v-dialog-actions>
</v-dialog>
