<cc-page-layout
    [progress]="party.isLoading() || organization.isLoading()"
    fullHeight
    title="Details"
>
    <div class="flex flex-col gap-4 overflow-y-auto">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Party</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-6">
                @if (party.value(); as partyObj) {
                    <cc-domain-thrift-viewer
                        [value]="partyObj?.object?.party_config?.data"
                        type="PartyConfig"
                    ></cc-domain-thrift-viewer>
                } @else {
                    <p>Not found</p>
                }
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Organization</mat-card-title>
                @if (organization.value(); as org) {
                    <div class="ml-auto flex gap-2">
                        <button mat-button (click)="modifyOrganization(org)">Edit</button>
                        @if (org.status === orgStatus.active) {
                            <button mat-button (click)="deactivateOrganization(org)">
                                Deactivate
                            </button>
                        } @else {
                            <button mat-button (click)="activateOrganization(org)">Activate</button>
                        }
                    </div>
                }
            </mat-card-header>
            <mat-card-content class="mt-6">
                @if (organization.value(); as org) {
                    <v-thrift-viewer
                        [metadata]="orgMetadata$ | async"
                        [value]="org"
                        namespace="domain"
                        type="Organization"
                    ></v-thrift-viewer>
                } @else {
                    <div class="flex items-center justify-between">
                        <p class="text-[var(--mat-sys-on-surface-variant)]">Not created</p>
                        <button mat-flat-button (click)="createOrganization()">Create</button>
                    </div>
                }
            </mat-card-content>
        </mat-card>
    </div>
</cc-page-layout>
