.sidenav-info {
    height: 100%;

    &-title-bar {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        padding: 20px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }

    &-close {
        &#{&} {
            cursor: pointer;
            font-size: 24px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &-content {
        padding: 20px;
        overflow: auto;
        height: 100%;
    }
}
