<form [formGroup]="form" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="16px">
    <mat-form-field fxFlex>
        <mat-label>Leave a comment...</mat-label>
        <input autocomplete="off" formControlName="comment" matInput type="text" />
        <mat-hint>{{ form.controls.comment.value?.length || 0 }}/1000</mat-hint>
    </mat-form-field>
    <div class="send-comment-action">
        <button
            [disabled]="!form.valid || (inProgress$ | async)"
            mat-icon-button
            (click)="sendComment()"
        >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</form>
