<form [formGroup]="form" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field fxFlex="50">
        <input
            formControlName="legal_agreement_id"
            matInput
            placeholder="Legal agreement ID"
            required
        />
    </mat-form-field>
    <mat-form-field fxFlex="50">
        <input
            [matDatepicker]="signedAtDatepicker"
            formControlName="signed_at"
            matInput
            placeholder="Signed at"
            required
        />
        <mat-datepicker-toggle [for]="signedAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #signedAtDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="50">
        <input
            [matDatepicker]="validUntilDatepicker"
            formControlName="valid_until"
            matInput
            placeholder="Valid until"
        />
        <mat-datepicker-toggle [for]="validUntilDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #validUntilDatepicker></mat-datepicker>
    </mat-form-field>
</form>
