<table [dataSource]="claims" mat-table>
    <ng-container matColumnDef="claimID">
        <th *matHeaderCellDef mat-header-cell>Claim ID</th>
        <td *matCellDef="let claim" mat-cell>{{ claim.id }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let claim" mat-cell>
            {{ claim.status | ccClaimStatusThrift | ccClaimStatus }}
        </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef mat-header-cell>Created At</th>
        <td *matCellDef="let claim" mat-cell>
            {{ claim.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
        <th *matHeaderCellDef mat-header-cell>Updated At</th>
        <td *matCellDef="let claim" mat-cell>
            {{ claim.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let claim" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="navigateToClaim(claim.party_id, claim.id)" mat-menu-item>
                    Details
                </button>
                <button (click)="navigateToNewClaim(claim.party_id, claim.id)" mat-menu-item>
                    New details
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
