<form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field fxFlex>
        <input formControlName="contract_id" matInput placeholder="Contract ID" required />
    </mat-form-field>
    <mat-form-field fxFlex>
        <input formControlName="payout_tool_id" matInput placeholder="Payout tool ID" />
    </mat-form-field>
    <cc-nested-form-wrapper caption="details">
        <cc-shop-details [form]="form.get('details')" [initialValue]="initialValue?.details" fxFlex>
        </cc-shop-details>
    </cc-nested-form-wrapper>
    <cc-nested-form-wrapper caption="location">
        <cc-shop-location
            [form]="form.get('location')"
            [initialValue]="initialValue?.location"
            fxFlex
        >
        </cc-shop-location>
    </cc-nested-form-wrapper>
    <mat-checkbox [checked]="showCategory" (change)="toggleCheckbox($event.checked, 'category')"
        >Category</mat-checkbox
    >
    <cc-category-ref
        *ngIf="form.get('category')"
        [form]="form.get('category')"
        [initialValue]="initialValue?.category"
        [required]="true"
    >
    </cc-category-ref>
</form>
