<v-dialog [progress]="progress$ | async" title="Create chargebacks">
    <cc-upload-csv [props]="props" (selectedChange)="selected = $event"></cc-upload-csv>
    <v-dialog-actions>
        <button
            *ngIf="successfullyChargebacks?.length"
            [disabled]="!!(progress$ | async)"
            mat-button
            (click)="closeWithSuccess()"
        >
            Close and find {{ successfullyChargebacks.length }} successful chargebacks
        </button>
        <button
            [disabled]="!selected?.length || !!(progress$ | async)"
            color="primary"
            mat-button
            (click)="create()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
