<div class="mat-dialog-title">Change claim status</div>
<mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="16px">
        <mat-form-field>
            <mat-select formControlName="type" placeholder="Status">
                <mat-option *ngFor="let status of statuses" [value]="status">{{
                    status | ccClaimStatus
                }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isStatus(ClaimStatus.Denied)">
            <input
                aria-label="reason"
                formControlName="reason"
                matInput
                placeholder="Reason"
                required="true"
            />
        </mat-form-field>
        <mat-form-field *ngIf="isStatus(ClaimStatus.Revoked)">
            <mat-label>Reason</mat-label>
            <mat-select formControlName="reason">
                <mat-option *ngFor="let reason of revokeReasons" [value]="reason">
                    {{ reason }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="space-between">
    <button [disabled]="inProgress$ | async" [mat-dialog-close]="false" mat-button>CANCEL</button>
    <button
        (click)="confirm()"
        [disabled]="!form.valid || (inProgress$ | async)"
        color="primary"
        mat-button
    >
        CONFIRM
    </button>
    <mat-progress-bar *ngIf="inProgress$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
