<v-dialog title="Party routing rule params">
    <div [formGroup]="form" style="display: flex; flex-direction: column; gap: 24px">
        @if (dialogData.type === 'payment') {
            <v-select-field
                [options]="shopsOptions"
                formControlName="shopID"
                label="Shop"
                required
                style="z-index: 9999"
            ></v-select-field>
        }
        @if (dialogData.type === 'withdrawal') {
            <v-select-field
                [options]="walletsOptions"
                formControlName="walletID"
                label="Wallet"
                required
            ></v-select-field>
        }
        <mat-divider></mat-divider>
        <div class="mat-display-small mat-no-margin">Routing ruleset</div>
        <div style="display: flex; flex-direction: column; gap: 16px">
            <mat-form-field>
                <input formControlName="name" matInput placeholder="Name" required />
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="description"
                    matInput
                    placeholder="Description (optional)"
                />
            </mat-form-field>
        </div>
    </div>

    <v-dialog-actions>
        <button [disabled]="form.invalid" mat-button (click)="add()">Add</button>
    </v-dialog-actions>
</v-dialog>
