<div fxLayout="column" fxLayoutGap="24px">
    <mat-card>
        <mat-card-content fxLayout>
            <cc-payments-main-search-filters
                (valueChanges)="searchParamsChanges($event)"
                [initParams]="initSearchParams"
                [type]="mainFilterSearchType"
                fxFlex="75"
            ></cc-payments-main-search-filters>
            <cc-payments-other-search-filters
                (valueChanges)="searchParamsChanges($event)"
                [initParams]="initSearchParams"
                class="other-filters-button"
                fxFlex
                fxLayoutAlign="center start"
            ></cc-payments-other-search-filters>
        </mat-card-content>
        <mat-card-footer *ngIf="doAction$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <ng-container *ngIf="payments$ | async as payments">
        <cc-empty-search-result
            *ngIf="!(isLoading$ | async) && payments.length === 0"
        ></cc-empty-search-result>
        <mat-card *ngIf="payments.length > 0" fxLayout="column" fxLayoutGap="16px">
            <cc-payments-table
                (menuItemSelected$)="paymentMenuItemSelected($event)"
                [payments]="payments"
                [type]="tableType"
            ></cc-payments-table>
            <button
                *ngIf="hasMore$ | async"
                (click)="fetchMore()"
                [disabled]="doAction$ | async"
                fxFlex="100"
                mat-button
            >
                {{ (doAction$ | async) ? 'LOADING...' : 'SHOW MORE' }}
            </button>
        </mat-card>
    </ng-container>
</div>
