<div fxLayout="column" fxLayoutGap="24px">
    <mat-card>
        <mat-card-content>
            <cc-payments-main-search-filters
                [initParams]="initSearchParams"
                (valueChanges)="searchParamsChanges($event)"
            ></cc-payments-main-search-filters>
            <mat-card-footer *ngIf="doAction$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card-content>
    </mat-card>
    <cc-actions>
        <button mat-button (click)="searchParamsChanges()">UPDATE</button>
        <cc-payments-other-search-filters
            [initParams]="initSearchParams"
            (valueChanges)="searchParamsChanges($event)"
        ></cc-payments-other-search-filters>
        <button
            [disabled]="!selectedPayments?.length"
            color="primary"
            mat-button
            (click)="createPaymentAdjustment()"
        >
            CREATE PAYMENT ADJUSTMENT{{
                selectedPayments?.length ? ' (' + selectedPayments?.length + ')' : ''
            }}
        </button>
    </cc-actions>
    <cc-empty-search-result
        *ngIf="!(doAction$ | async) && !(payments$ | async)?.length"
        label="Payments not found"
    ></cc-empty-search-result>
    <mat-card *ngIf="(payments$ | async)?.length > 0" fxLayout="column" fxLayoutGap="16px">
        <cc-payments-table
            [payments]="payments$ | async"
            [selected]="selectedPayments"
            (menuItemSelected$)="paymentMenuItemSelected($event)"
            (selected$)="selectedPayments = $event.selected"
        ></cc-payments-table>
        <button
            *ngIf="hasMore$ | async"
            [disabled]="doAction$ | async"
            fxFlex="100"
            mat-button
            (click)="fetchMore()"
        >
            {{ (doAction$ | async) ? 'LOADING...' : 'SHOW MORE' }}
        </button>
    </mat-card>
</div>
