<v-dialog title="Routing rules init params">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <mat-form-field>
            <input
                formControlName="delegateDescription"
                matInput
                placeholder="Main delegate description"
            />
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="cc-title">Routing ruleset</div>
        <div fxLayout="column" fxLayoutGap="16px">
            <mat-form-field>
                <input formControlName="name" matInput placeholder="Name" required />
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="description"
                    matInput
                    placeholder="Description (optional)"
                />
            </mat-form-field>
        </div>
    </div>

    <v-dialog-actions>
        <button [disabled]="form.invalid" color="primary" mat-button (click)="init()">INIT</button>
    </v-dialog-actions>
</v-dialog>
