<v-dialog [progress]="progress$ | async" title="Create Adjustment">
    <cc-fistful-thrift-form
        [extensions]="extensions"
        [formControl]="control"
        namespace="withdrawal_adjustment"
        noToolbar
        type="AdjustmentParams"
    ></cc-fistful-thrift-form>
    <v-dialog-actions>
        <button
            [disabled]="control.invalid || (progress$ | async)"
            color="primary"
            mat-button
            (click)="createAdjustment()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
