<cc-base-dialog gdColumn="1fr" title="Create Adjustment">
    <div gdGap="16px">
        <mat-radio-group [formControl]="typeControl" gdColumns="1fr 1fr" gdGap="8px">
            <mat-radio-button [value]="0">Use ID from withdrawal</mat-radio-button>
            <mat-radio-button [value]="1">Generate ID</mat-radio-button>
        </mat-radio-group>
        <cc-metadata-form
            [formControl]="statusControl"
            [metadata]="metadata$ | async"
            namespace="withdrawal_status"
            type="Status"
        ></cc-metadata-form>
        <cc-metadata-form
            [extensions]="extensions"
            [formControl]="externalIdControl"
            [metadata]="metadata$ | async"
            namespace="base"
            type="ExternalID"
        ></cc-metadata-form>
        <mat-progress-bar
            *ngIf="progress !== -1"
            [value]="(progress / dialogData.withdrawals.length) * 100"
            mode="determinate"
        ></mat-progress-bar>
    </div>
    <cc-base-dialog-actions>
        <button
            (click)="createAdjustment()"
            [disabled]="statusControl.invalid"
            color="primary"
            mat-button
        >
            CREATE
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
