<cc-timeline-item>
    <cc-timeline-item-badge [color]="color">
        <mat-icon>{{ icon ?? 'add' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-title>
        <cc-timeline-item-header
            [createdAt]="modificationUnit.created_at"
            [removed]="!!modificationUnit.removed_at"
            [text]="title ?? 'added ' + (modificationUnit.modification | ngtUnionKey | ngtKeyTitle)"
            [username]="modificationUnit.user_info.username"
        ></cc-timeline-item-header>
        <div>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                @if (isChangeable) {
                    <button [disabled]="isLoading$ | async" mat-menu-item (click)="update()">
                        Change
                    </button>
                }
                <button [disabled]="isLoading$ | async" mat-menu-item (click)="remove()">
                    Remove
                </button>
            </mat-menu>
        </div>
    </cc-timeline-item-title>
    @if (hasModificationContent) {
        <cc-timeline-item-content>
            @if (isLoading) {
                <cc-timeline-item-loading></cc-timeline-item-loading>
            } @else {
                <div #content><ng-content></ng-content></div>
                @if (!content.innerHTML.trim().length) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{ name | ngtKeyTitle | titlecase }}
                        </mat-expansion-panel-header>
                        <v-thrift-viewer
                            [extensions]="extensions$ | async"
                            [metadata]="metadata$ | async"
                            [value]="modificationUnit?.modification"
                            namespace="claim_management"
                            type="Modification"
                        ></v-thrift-viewer>
                    </mat-expansion-panel>
                }
            }
        </cc-timeline-item-content>
    }
</cc-timeline-item>
