<cc-page-layout title="Deposits">
    <cc-search-filters
        [initParams]="initParams$ | async"
        (valueChanges)="searchParamsUpdated($event)"
    ></cc-search-filters>
    <v-table
        [columns]="columns"
        [data]="deposits$ | async"
        [progress]="doAction$ | async"
        (more)="fetchMore()"
        (update)="refresh($event)"
    >
        <v-table-actions>
            <button color="primary" mat-flat-button (click)="createDeposit()">
                Create deposit
            </button>
        </v-table-actions>
    </v-table>
</cc-page-layout>
