<mat-form-field [formGroup]="control" fxFlex>
    <mat-label>Date Range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input formControlName="start" matInput matStartDate placeholder="Start Date" />
        <input formControlName="end" matEndDate matInput placeholder="End Date" />
    </mat-date-range-input>
    <mat-datepicker-toggle [for]="picker" matSuffix>
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
