<table *ngIf="displayedColumns" [dataSource]="parties" mat-table>
    <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>Email</th>
        <td *matCellDef="let party" mat-cell>
            {{ party.email }}
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let party" mat-cell>
            {{ party.id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let party" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    *ngFor="let action of partyActions"
                    (click)="menuItemSelected(action, party.id)"
                    mat-menu-item
                >
                    {{ action | ccPartyActions }}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
