<v-dialog
    [progress]="progress$ | async"
    title="Create payment adjustment ({{ dialogData.payments.length }})"
>
    <cc-metadata-form
        [extensions]="extensions$ | async"
        [formControl]="control"
        [metadata]="metadata$ | async"
        namespace="payment_processing"
        type="InvoicePaymentAdjustmentParams"
    ></cc-metadata-form>
    <v-dialog-actions>
        <button
            *ngIf="this.withError.length"
            [disabled]="control.invalid || !!(progress$ | async)"
            mat-raised-button
            (click)="closeAndSelectWithAnError()"
        >
            Close and select with an error
        </button>
        <button
            [disabled]="control.invalid || !!(progress$ | async)"
            color="primary"
            mat-raised-button
            (click)="create()"
        >
            {{ this.withError.length ? 'Repeat for ' + this.withError.length : 'Create' }}
        </button>
    </v-dialog-actions>
</v-dialog>
