<cc-page-layout
    [path]="[
        { label: 'Merchants', link: '/parties' },
        {
            label: (party$ | async)?.contact_info?.email,
            tooltip: (party$ | async)?.id,
            link: ['/party', (party$ | async)?.id]
        }
    ]"
    description="#{{ (claim$ | async)?.id }}"
    title="Claim"
>
    <cc-page-layout-actions *ngIf="claim$ | async as claim">
        <cc-status [color]="statusColor[claim.status | ccUnionKey]">{{
            claim.status | ccUnionKey | keyTitle | titlecase
        }}</cc-status>
    </cc-page-layout-actions>

    <div *ngIf="claim$ | async as claim" gdColumns="1fr" gdGap="24px">
        <h2 class="mat-headline-5">Changeset</h2>
        <div *ngIf="isLoading$ | async; else timeline" fxLayoutAlign="center">
            <mat-progress-spinner
                color="primary"
                diameter="128"
                mode="indeterminate"
            ></mat-progress-spinner>
        </div>
        <ng-template #timeline>
            <cc-timeline>
                <cc-timeline-item>
                    <cc-timeline-item-badge>
                        <mat-icon>create</mat-icon>
                    </cc-timeline-item-badge>
                    <cc-timeline-item-title>
                        <cc-timeline-item-header
                            [createdAt]="claim.created_at"
                            text="Claim created"
                        ></cc-timeline-item-header>
                    </cc-timeline-item-title>
                </cc-timeline-item>
                <ng-container
                    *ngFor="let modificationUnit of claim.changeset"
                    [ngSwitch]="modificationUnit.modification | ccUnionKey"
                >
                    <ng-container
                        *ngSwitchCase="'party_modification'"
                        [ngSwitch]="modificationUnit.modification | ccUnionValue | ccUnionKey"
                    >
                        <cc-shop-modification-timeline-item
                            *ngSwitchCase="'shop_modification'"
                            [claim]="claim"
                            [modificationUnit]="modificationUnit"
                            (claimChanged)="reloadClaim()"
                        >
                        </cc-shop-modification-timeline-item>
                        <cc-modification-unit-timeline-item
                            *ngSwitchDefault
                            [claim]="claim"
                            [modificationUnit]="modificationUnit"
                            isChangeable
                            (claimChanged)="reloadClaim()"
                        ></cc-modification-unit-timeline-item>
                    </ng-container>
                    <ng-container
                        *ngSwitchCase="'claim_modification'"
                        [ngSwitch]="modificationUnit.modification | ccUnionValue | ccUnionKey"
                    >
                        <cc-status-modification-timeline-item
                            *ngSwitchCase="'status_modification'"
                            [claim]="claim"
                            [modificationUnit]="modificationUnit"
                            (claimChanged)="reloadClaim()"
                        >
                        </cc-status-modification-timeline-item>
                        <cc-modification-unit-timeline-item
                            *ngSwitchDefault
                            [claim]="claim"
                            [modificationUnit]="modificationUnit"
                            (claimChanged)="reloadClaim()"
                        ></cc-modification-unit-timeline-item>
                    </ng-container>
                </ng-container>
            </cc-timeline>
        </ng-template>
        <mat-card>
            <mat-card-content fxLayout="row" fxLayoutGap="24px">
                <button color="primary" mat-button (click)="addModification()">
                    Add modification
                </button>
                <button
                    [disabled]="(isAllowedChangeStatus$ | async) === false"
                    color="primary"
                    mat-button
                    (click)="changeStatus()"
                >
                    Change status
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</cc-page-layout>
