<cc-page-layout
    [id]="(shopRuleset$ | async)?.ref?.id"
    [title]="((routingRulesType$ | async) === 'payment' ? 'Shop' : 'Wallet') + ' Routing Rules'"
    [upLink]="[
        '/party/' +
            (partyID$ | async) +
            '/routing-rules/' +
            (routingRulesType$ | async) +
            '/' +
            (partyRulesetRefID$ | async)
    ]"
    (idLinkClick)="openRefId()"
>
    <cc-page-layout-actions>
        <button color="primary" mat-raised-button (click)="addShopRule()">Add</button>
    </cc-page-layout-actions>
    <v-table
        [columns]="columns"
        [data]="(candidates$ | async) || []"
        [progress]="isLoading$ | async"
        [rowDragDrop]="['priority']"
        [size]="100"
        [sort]="{ active: 'priority', direction: 'desc' }"
        noActions
        sortOnFront
        (rowDropped)="drop($event)"
    ></v-table>
</cc-page-layout>
