<form [formGroup]="form" fxLayout="column">
    <mat-form-field> <input formControlName="bic" matInput placeholder="BIC" /> </mat-form-field>
    <mat-form-field> <input formControlName="name" matInput placeholder="Name" /> </mat-form-field>
    <mat-form-field>
        <input formControlName="address" matInput placeholder="Address" />
    </mat-form-field>
    <mat-form-field>
        <input formControlName="aba_rtn" matInput placeholder="ABA routing transit number" />
    </mat-form-field>
    <mat-form-field>
        <input formControlName="country" matInput placeholder="Country code" />
    </mat-form-field>
</form>
