<div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
    <div class="mat-headline-4">Change Main Ruleset</div>

    <div fxLayout="column" fxLayoutGap="39px">
        <mat-radio-group formControlName="target" fxLayout>
            <mat-radio-button [value]="target.PaymentInstitution" fxFlex
                >Payment Institution</mat-radio-button
            >
            <mat-radio-button [value]="target.Manual" fxFlex>Manual Target</mat-radio-button>
        </mat-radio-group>

        <div
            *ngIf="form.controls.target.value === target.PaymentInstitution"
            fxLayout="column"
            fxLayoutGap="16px"
        >
            <mat-form-field>
                <mat-label>Payment Institution</mat-label>
                <mat-select formControlName="paymentInstitution" required>
                    <mat-option *ngFor="let i of paymentInstitutions$ | async" [value]="i">
                        #{{ i.ref.id }} {{ i.data.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container *ngIf="form.value.paymentInstitution as paymentInstitution">
                <cc-details-item title="Routing Ruleset (policies)">
                    <ng-container *ngIf="policiesId; else notFound">
                        #{{ policiesId }}
                        {{ (getRulesetById(policiesId) | async)?.data?.name }}
                    </ng-container>
                    <ng-template #notFound>Not found</ng-template>
                </cc-details-item>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
        <mat-form-field *ngIf="form.controls.target.value === target.Manual">
            <mat-label>Main Ruleset</mat-label>
            <mat-select formControlName="mainRulesetRefID" required>
                <mat-option *ngFor="let i of rulesets$ | async" [value]="i.ref.id">
                    #{{ i.ref.id }} {{ i.data.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <input
            formControlName="mainDelegateDescription"
            matInput
            placeholder="Main delegate description"
        />
    </mat-form-field>
</div>
