<cc-base-dialog title="Change Delegate Ruleset">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <mat-form-field>
            <mat-label>Delegate Ruleset</mat-label>
            <mat-select formControlName="rulesetRefId" required>
                <mat-option *ngFor="let i of rulesets$ | async" [value]="i.ref.id">
                    #{{ i.ref.id }} {{ i.data.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Deligate description" formControlName="description" />
        </mat-form-field>
    </div>

    <cc-base-dialog-actions>
        <button mat-button color="primary" (click)="changeRuleset()" [disabled]="form.invalid">
            CHANGE RULESET
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
