@use '../../../../../../../libs/matez/index' as v;

@mixin cc-status-theme($theme) {
    .cc-status {
        &-success {
            color: v.get-color($theme, success, darker);
        }

        &-pending {
            color: v.get-color($theme, pending, darker);
        }

        &-warn {
            color: v.get-color($theme, warn, darker);
        }
    }
}
