<div fxLayout="column" fxLayoutGap="32px">
    <div *ngIf="!noUpdate || actions" fxLayout fxLayoutAlign="space-between" fxLayoutGap="8px">
        <div *ngIf="!noUpdate" fxLayout fxLayoutGap="16px">
            <button
                [disabled]="loading"
                mat-stroked-button
                (click)="update.emit(this.size$.value ? { size: this.size$.value } : {})"
            >
                UPDATE
            </button>
            <button [disabled]="loading" [matMenuTriggerFor]="menu" mat-button>
                {{ size$ | async }} <mat-icon>table_rows_narrow</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="size$.next(25)">25</button>
                <button mat-menu-item (click)="size$.next(100)">100</button>
                <button mat-menu-item (click)="size$.next(1000)">1000</button>
            </mat-menu>
        </div>
        <ng-content select="cc-simple-table-actions"></ng-content>
    </div>

    <mat-card class="table-card">
        <mtx-grid
            [cellSelectable]="false"
            [cellTemplate]="cellTemplate"
            [columns]="columns"
            [data]="data"
            [loading]="loading || !columns"
            [paginationTemplate]="footerTpl"
            [rowSelectable]="rowSelectable"
            [trackBy]="trackBy"
            (rowSelectionChange)="rowSelectionChange.emit($event)"
        ></mtx-grid>
        <ng-template #footerTpl>
            <cc-show-more-button
                *ngIf="hasMore && columns"
                [inProgress]="loading"
                class="show-more"
                style="width: 100%"
                (fetchMore)="fetchMore.emit(this.size$.value ? { size: this.size$.value } : {})"
            ></cc-show-more-button>
        </ng-template>
    </mat-card>
</div>
