<cc-page-layout
    [id]="(ruleset$ | async)?.ref?.id"
    [title]="((routingRulesType$ | async) === 'payment' ? 'Shop' : 'Wallet') + ' Routing Rules'"
    [upLink]="[
        '/parties/' +
            (partyID$ | async) +
            '/routing-rules/' +
            (routingRulesType$ | async) +
            '/' +
            (partyRulesetRefID$ | async),
    ]"
    fullHeight
    (idLinkClick)="openRefId()"
>
    <cc-page-layout-actions>
        <button mat-flat-button (click)="addRule()">Add</button>
    </cc-page-layout-actions>
    @if (appMode.isAdvanced()) {
        <v-table
            [(sort)]="sort"
            [columns]="columns"
            [data]="(candidates$ | async) || []"
            [progress]="isLoading$ | async"
            [rowDragDrop]="['priority']"
            standaloneFilter
            (rowDropped)="drop($any($event))"
        ></v-table>
    } @else {
        @if (candidateGroups$ | async; as groups) {
            <cc-dnd-cards [rows]="groups">
                <ng-template #card let-candidate>
                    {{ candidate.terminal?.id }} {{ candidate.description }}
                </ng-template>
            </cc-dnd-cards>
        }
    }
</cc-page-layout>
