<cc-page-layout
    [id]="(ruleset$ | async)?.ref?.id"
    [title]="((routingRulesType$ | async) === 'payment' ? 'Shop' : 'Wallet') + ' Routing Rules'"
    [upLink]="[
        '/parties/' +
            (partyID$ | async) +
            '/routing-rules/' +
            (routingRulesType$ | async) +
            '/' +
            (partyRulesetRefID$ | async),
    ]"
    fullHeight
    (idLinkClick)="openRefId()"
>
    <cc-page-layout-actions>
        <button mat-flat-button (click)="addRule()">Add</button>
    </cc-page-layout-actions>
    @if (appMode.isAdvanced()) {
        <v-table
            [(sort)]="sort"
            [columns]="columns"
            [data]="(candidates$ | async) || []"
            [progress]="isLoading$ | async"
            [rowDragDrop]="['priority']"
            standaloneFilter
            (rowDropped)="drop($any($event))"
        ></v-table>
    } @else {
        @if (candidateGroups$ | async; as groups) {
            <cc-dnd-cards [rows]="groups">
                <ng-template #card let-item>
                    @if (!!item?.terminal) {
                        <div class="flex flex-col gap-2 items-start">
                            <div [matTooltip]="item.candidate.terminal.id">
                                {{ item.terminal?.object?.terminal?.data?.name }}
                            </div>
                            <div [matTooltip]="item.candidate.weight" class="text-sm">
                                {{ item.weightPercent }}%
                            </div>
                            <div>
                                <mat-slide-toggle
                                    [checked]="item.allowed"
                                    (change)="toggleAllow(item.idx)"
                                    ><span class="ml-2">{{
                                        item.fullAllowedStr
                                    }}</span></mat-slide-toggle
                                >
                            </div>
                        </div>
                    } @else {
                        Loading...
                    }
                </ng-template>
            </cc-dnd-cards>
        }
    }
</cc-page-layout>
