<div gdColumns="1fr" gdGap="16px">
    <ng-container *ngIf="data.type === 'bool'; else input">
        <div gdColumns="1fr" gdGap="16px">
            <span class="mat-body-1">{{ data.type | fieldLabel: data.field }}</span>
            <div fxLayoutAlign=" center" fxLayoutGap="4px">
                <mat-radio-group [formControl]="control" fxFlex gdColumns="1fr 1fr" gdGap="8px">
                    <mat-radio-button [value]="false">False</mat-radio-button>
                    <mat-radio-button [value]="true">True</mat-radio-button>
                </mat-radio-group>
                <button
                    *ngIf="
                        !data.isRequired && control.value !== null && control.value !== undefined
                    "
                    mat-icon-button
                    (click)="clear($event)"
                >
                    <mat-icon>clear</mat-icon>
                </button>
                <button *ngIf="generate$ | async" mat-icon-button (click)="generate($event)">
                    <mat-icon>loop</mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
    <ng-template #input>
        <div style="display: flex; gap: 4px">
            <mat-form-field fxFlex>
                <mat-label>
                    <ng-container *ngIf="!(extensionResult$ | async)?.label; else extensionLabel">{{
                        data.type | fieldLabel: data.field
                    }}</ng-container>
                    <ng-template #extensionLabel>{{
                        (extensionResult$ | async).label
                    }}</ng-template>
                </mat-label>
                <mat-hint>{{ aliases }}</mat-hint>
                <input
                    #trigger="matAutocompleteTrigger"
                    [formControl]="control"
                    [matAutocomplete]="auto"
                    [ngClass]="{ 'cc-code': (extensionResult$ | async)?.isIdentifier }"
                    [required]="data.isRequired"
                    [type]="inputType"
                    matInput
                />
                <div matSuffix style="display: flex; gap: 4px">
                    <button
                        *ngIf="!data.isRequired && control.value"
                        mat-icon-button
                        (click)="clear($event)"
                    >
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button
                        *ngIf="(extensionResult$ | async)?.options?.length"
                        mat-icon-button
                        (click)="
                            auto.isOpen ? trigger.closePanel() : trigger.openPanel();
                            $event.stopPropagation()
                        "
                    >
                        <mat-icon>{{ auto.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="extensionResult$ | async as extensionResult">
                        <mat-option
                            *ngFor="let option of filteredOptions$ | async"
                            [value]="option.value"
                        >
                            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                                <div [ngClass]="{ 'cc-code': extensionResult.isIdentifier }">
                                    {{ option.value }}
                                </div>
                                <cc-label [color]="option.color" [label]="option.label"></cc-label>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <button *ngIf="generate$ | async" mat-icon-button (click)="generate($event)">
                <mat-icon>loop</mat-icon>
            </button>
        </div>
    </ng-template>
    <ng-container *ngIf="selected$ | async as selected">
        <mat-expansion-panel *ngIf="selected.details">
            <mat-expansion-panel-header>
                <mat-panel-title fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                    <div>Details</div>
                    <cc-label [color]="selected.color" [label]="selected.label"></cc-label>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <cc-json-viewer [value]="selected.details"></cc-json-viewer>
            </ng-template>
        </mat-expansion-panel>
    </ng-container>
</div>
