<div fxLayout="column">
    <mat-form-field class="mat-form-field-container" fxFlexFill>
        <mat-radio-group [formControl]="formControl" fxLayout="column" fxLayoutGap="16px">
            <input [formControl]="control" matInput />
            <mat-radio-button color="primary">Any</mat-radio-button>
            <ng-container *ngFor="let v of visibleValues; index as i">
                <div *ngIf="!(i % 2)" fxLayout fxLayoutGap="16px">
                    <mat-radio-button [value]="v.value" color="primary" fxFlex>{{
                        v.title
                    }}</mat-radio-button>
                    <mat-radio-button
                        *ngIf="values[i + 1]"
                        [value]="values[i + 1].value"
                        color="primary"
                        fxFlex
                        >{{ values[i + 1].title }}</mat-radio-button
                    >
                </div>
            </ng-container>
        </mat-radio-group>
    </mat-form-field>
    <div
        class="show-others"
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="8px"
        (click)="changeVisibility(!isExpanded)"
    >
        <div class="mat-body-1">{{ isExpanded ? 'Show less' : 'Show others' }}</div>
        <mat-icon>{{ isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </div>
</div>
