@use '@angular/material' as mat;
@use '../../../../../libs/matez/index' as v;
@use './all-component-themes';
@use './theme-colors' as palette;

// Google Fonts Settings
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

$app-theme: v.create-light-theme();
$light-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: palette.$primary-palette,
        ),
        density: (
            scale: 0,
        ),
    )
);

@include mat.core();
@include v.all-component-themes($app-theme);
@include all-component-themes.all-component-themes($app-theme);
@include v.typography-hierarchy($app-theme);
@include v.app($app-theme);

:root {
    @include mat.all-component-themes($light-theme);
    @include mat.typography-hierarchy($light-theme);

    @include mat.divider-overrides(
        (
            color: #ddd,
        )
    );
    @include mat.table-overrides(
        (
            row-item-outline-color: #ddd,
        )
    );
}
