@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../../libs/matez/index' as v;
@use './all-component-themes';
@use './theme-colors' as palette;

// Google Fonts Settings
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

$app-theme: v.create-light-theme();
$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: palette.$primary-palette,
        ),
        density: (
            scale: 0,
        ),
    )
);

@include v.all-component-themes($app-theme);
@include v.typography-hierarchy($app-theme);

:root {
    html,
    body {
        height: 100%;
    }
    body {
        margin: 0;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
    }

    @include mat.core();
    @include mat.all-component-themes($theme);
    @include mat.typography-hierarchy($theme);

    --app-success-bg: #{map.get(mat.$green-palette, 50)};
    --app-pending-bg: #{map.get(mat.$orange-palette, 70)};
    --app-error-bg: #{mat.get-theme-color($theme, error, 50)};
    --app-primary-bg: #{mat.get-theme-color($theme, primary, 40)};

    @include all-component-themes.all-component-themes($theme);
    @include v.mat-component-variants($theme);

    @include mat.divider-overrides(
        (
            color: #ddd,
        )
    );
    @include mat.table-overrides(
        (
            row-item-outline-color: #ddd,
        )
    );
}
