<form [formGroup]="form" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field fxFlex>
        <input formControlName="position" matInput placeholder="Position" required />
    </mat-form-field>
    <mat-form-field fxFlex>
        <input formControlName="full_name" matInput placeholder="Full name" required />
    </mat-form-field>
    <cc-representative-document
        [form]="form.get('document')"
        [initialValue]="initialValue?.document"
    >
    </cc-representative-document>
</form>
