<div class="mat-dialog-title">
    {{ data.type === terminalActionTypes.EditWeight ? 'Edit weight' : null }}
    {{ data.type === terminalActionTypes.EditPriority ? 'Edit priority' : null }}
</div>
<mat-dialog-content>
    <mat-form-field fxFlex>
        <input [formControl]="editValueControl" matInput type="number" />
    </mat-form-field>
</mat-dialog-content>

<div
    class="dialog-actions"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
    fxLayoutGap.xs="10px"
    mat-dialog-actions
>
    <button
        (click)="save()"
        [disabled]="!editValueControl.valid || (inProgress$ | async)"
        fxFlex
        fxFlex.xs="none"
        mat-button
    >
        SAVE
    </button>
    <button
        [disabled]="inProgress$ | async"
        [mat-dialog-close]="false"
        fxFlex
        fxFlex.xs="none"
        mat-button
    >
        CANCEL
    </button>
    <mat-progress-bar *ngIf="inProgress$ | async" mode="indeterminate"></mat-progress-bar>
</div>
