<cc-page-layout [formGroup]="studioGroup" title="Studio">
    <div class="flex flex-col gap-4">
        <v-select-field
            [options]="serviceOptions"
            formControlName="service"
            label="Service"
        ></v-select-field>
        @if (studioGroup.get('service')?.value) {
            <v-select-field
                [options]="methodOptions$ | async"
                formControlName="method"
                label="Method"
            ></v-select-field>

            @if (studioGroup.get('method')?.value) {
                @if (studioGroup.get('method').value.args.length) {
                    <div class="flex flex-col gap-2">
                        <div class="text-lg">Arguments</div>
                        @for (
                            arg of studioGroup.get('method').value.args;
                            track arg;
                            let idx = $index
                        ) {
                            <div class="text-md">
                                {{ arg.name | ngtValueTypeTitle | titlecase }}
                            </div>
                            <v-thrift-editor
                                [formControl]="$any(studioGroup.controls.params.controls[idx])"
                                [metadata]="studioGroup.get('service').value.metadata$ | async"
                                [namespace]="(namespaceMetadata$ | async)?.name"
                                [type]="arg.type"
                            ></v-thrift-editor>
                        }
                    </div>
                }
                <button [disabled]="inProgress$ | async" mat-button (click)="submit()">
                    Submit
                </button>
            }
        }
    </div>

    @if (inProgress$ | async) {
        <div>
            <mat-progress-bar class="w-full" mode="indeterminate"></mat-progress-bar>
        </div>
    }

    @let result = result$ | async;
    @if (!(inProgress$ | async) && result) {
        <mat-divider></mat-divider>
        <div class="flex flex-col gap-2">
            @if ('data' in result) {
                <div class="text-lg">Result</div>
                <v-thrift-viewer
                    [namespace]="(namespaceMetadata$ | async)?.name"
                    [type]="studioGroup.get('method').value.type"
                    [value]="result.data"
                ></v-thrift-viewer>
            } @else {
                @let error = error$ | async;
                <div class="text-lg">Error</div>
                <v-thrift-viewer [value]="error.error"></v-thrift-viewer>
            }
        </div>
    }
</cc-page-layout>
