<div fxLayout="column" fxLayoutGap="20px">
    <mat-radio-group fxLayout fxLayoutGap="20px" (change)="targetChanges($event)">
        <mat-radio-button
            *ngFor="let item of radioItems"
            [checked]="selectedTarget === item"
            [value]="item"
            >{{ item | ccPartyItemName : partyTarget }}
        </mat-radio-button>
    </mat-radio-group>
    <cc-fill-in-unit-id
        *ngIf="selectedTarget === t.FillIn"
        [unitID]="unitID"
        (valueChanges)="unitIDChanges($event)"
    >
    </cc-fill-in-unit-id>
    <cc-target-table
        *ngIf="selectedTarget === t.PartyItem"
        [fromClaim]="fromClaim"
        [partyID]="partyID"
        [partyTarget]="partyTarget"
        (valueChanges)="unitIDChanges($event)"
    >
    </cc-target-table>
</div>
