<div fxLayout="column" fxLayoutGap="20px">
    <mat-radio-group (change)="targetChanges($event)" fxLayout fxLayoutGap="20px">
        <mat-radio-button
            *ngFor="let item of radioItems"
            [checked]="selectedTarget === item"
            [value]="item"
            >{{ item | ccPartyItemName: partyTarget }}
        </mat-radio-button>
    </mat-radio-group>
    <cc-fill-in-unit-id
        *ngIf="selectedTarget === t.FillIn"
        (valueChanges)="unitIDChanges($event)"
        [unitID]="unitID"
    >
    </cc-fill-in-unit-id>
    <cc-target-table
        *ngIf="selectedTarget === t.PartyItem"
        (valueChanges)="unitIDChanges($event)"
        [fromClaim]="fromClaim"
        [partyID]="partyID"
        [partyTarget]="partyTarget"
    >
    </cc-target-table>
</div>
