<cc-page-layout
    description="{{ version() ? '#' + version() : '' }}"
    fullHeight
    title="Domain config"
>
    <cc-page-layout-actions>
        <button mat-flat-button (click)="create()">Create</button>
    </cc-page-layout-actions>
    <cc-domain-objects-table
        [(filter)]="filter"
        [resource]="fetchDomainObjectsService"
        [tableInputsContent]="tableInputsContent"
        (selectedTypeChange)="selectedType.set($event)"
    >
        <ng-template #tableInputsContent>
            <v-select-field
                [formControl]="typeControl"
                [options]="options"
                label="Object type"
            ></v-select-field>
        </ng-template>
    </cc-domain-objects-table>
</cc-page-layout>
