<div fxLayout="column">
    <div *ngIf="inProgress$ | async" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!(inProgress$ | async) && dataSource.data">
        <div fxLayout fxLayoutAlign="space-between">
            <mat-form-field fxFlex="35">
                <input
                    matInput
                    placeholder="Filter"
                    type="text"
                    (keyup)="applyFilter($event.target.value)"
                />
            </mat-form-field>
        </div>
        <div class="table-container" fxLayout="column">
            <table [dataSource]="dataSource" fxFlex mat-table>
                <ng-container matColumnDef="select" sticky>
                    <th *matHeaderCellDef class="mat-column-select" mat-header-cell></th>
                    <td *matCellDef="let item" class="mat-column-select" mat-cell>
                        <mat-checkbox
                            [checked]="item.checked"
                            (change)="change(item, $event)"
                        ></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef class="mat-column-id" mat-header-cell>ID</th>
                    <td *matCellDef="let item" class="mat-column-id" mat-cell>
                        {{ item.id }}
                        <span class="cc-target-table-from-claim">{{
                            item.fromClaim ? '*' : ''
                        }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="data">
                    <th *matHeaderCellDef mat-header-cell>Data</th>
                    <td *matCellDef="let item" class="mat-column-data" mat-cell>
                        <cc-pretty-json
                            [cleanLook]="true"
                            [object]="item.data"
                            inline="true"
                        ></cc-pretty-json>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
            </table>
        </div>
    </div>
    <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
    ></mat-paginator>
    <div fxLayout="row" fxLayoutAlign="end center">
        <span class="mat-body-1"
            ><span class="cc-target-table-from-claim">*</span> — from claim</span
        >
    </div>
</div>
