<cc-page-layout title="Chargebacks">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters #filters [active]="active$ | async" merge (clear)="filtersForm.reset()">
        <ng-template [formGroup]="filtersForm">
            <v-date-range-field formControlName="dateRange"></v-date-range-field>
            <v-list-field formControlName="chargeback_ids" label="Chargeback Ids"></v-list-field>
            <v-list-field formControlName="invoice_ids" label="Invoice Ids"></v-list-field>
            <cc-merchant-field formControlName="party_id"></cc-merchant-field>
            <cc-shop-field
                [partyId]="filtersForm.value.party_id"
                formControlName="shop_ids"
                multiple
            ></cc-shop-field>
            <mat-form-field>
                <mat-label>Statuses</mat-label>
                <mat-select formControlName="chargeback_statuses" multiple>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ status | keyTitle | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Stages</mat-label>
                <mat-select formControlName="chargeback_stages" multiple>
                    <mat-option *ngFor="let stage of stages" [value]="stage">
                        {{ stage | keyTitle | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select formControlName="chargeback_categories" multiple>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{ category | keyTitle | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-template>
    </v-filters>
    <cc-chargebacks-table
        [(selected)]="selected"
        [data]="chargebacks$ | async"
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        (more)="more()"
        (update)="reload($event)"
    >
        <button
            [disabled]="!selected.length"
            color="primary"
            mat-raised-button
            (click)="changeStatuses()"
        >
            Change statuses
        </button>
        <button color="primary" mat-raised-button (click)="create()">Create by file</button>
    </cc-chargebacks-table>
</cc-page-layout>
