<v-dialog title="Routing rule params">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" fxLayoutGap="16px">
            <mat-form-field>
                <input
                    formControlName="description"
                    matInput
                    placeholder="Description (optional)"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="weight"
                    matInput
                    placeholder="Weight (optional)"
                    type="number"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    formControlName="priority"
                    matInput
                    placeholder="Priority"
                    required
                    type="number"
                />
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <div class="mat-headline-4">Predicate</div>
        <cc-predicate [formControl]="predicateControl"></cc-predicate>

        <mat-divider></mat-divider>

        <div class="mat-headline-4">Terminal</div>
        <div fxLayout="column" fxLayoutGap="16px">
            <mat-radio-group formControlName="terminalType" fxLayout fxLayoutGap="8px">
                <mat-radio-button [value]="terminalType.New" fxFlex>Create new</mat-radio-button>
                <mat-radio-button [value]="terminalType.Existent" fxFlex>
                    Select existent
                </mat-radio-button>
            </mat-radio-group>
            <div
                *ngIf="form.value.terminalType === terminalType.New"
                formGroupName="newTerminal"
                fxLayout="column"
                fxLayoutGap="24px"
            >
                <div fxLayout="column" fxLayoutGap="16px">
                    <mat-form-field>
                        <input formControlName="name" matInput placeholder="Name" required />
                    </mat-form-field>
                    <mat-form-field>
                        <input
                            formControlName="description"
                            matInput
                            placeholder="Description"
                            required
                        />
                    </mat-form-field>
                    <div class="mat-body-1">Risk coverage:</div>
                    <mat-radio-group formControlName="riskCoverage" fxLayout fxLayoutGap="8px">
                        <mat-radio-button [value]="riskScore.low" fxFlex>Low</mat-radio-button>
                        <mat-radio-button [value]="riskScore.high" fxFlex>High</mat-radio-button>
                        <mat-radio-button [value]="riskScore.fatal" fxFlex>Fatal</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div formArrayName="options" fxLayout="column" fxLayoutGap="8px">
                    <div class="mat-body-1">Options:</div>
                    <div
                        *ngFor="let optionForm of newTerminalOptionsForm.controls; let idx = index"
                        [formGroup]="optionForm"
                        fxLayout
                        fxLayoutAlign=" center"
                        fxLayoutGap="24px"
                    >
                        <div fxFlex fxLayout>
                            <mat-form-field fxFlex="33">
                                <input formControlName="key" matInput placeholder="Key" required />
                            </mat-form-field>
                            <mat-form-field fxFlex>
                                <input
                                    formControlName="value"
                                    matInput
                                    placeholder="Value"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <mat-icon class="action" (click)="removeOption(idx)">clear</mat-icon>
                    </div>
                    <mat-icon class="action" fxFlexAlign="end" (click)="addOption()">add</mat-icon>
                </div>
            </div>
            <div *ngIf="form.value.terminalType === terminalType.Existent" fxLayout>
                <v-select-field
                    [options]="terminalOptions$ | async"
                    formControlName="existentTerminalID"
                    fxFlex
                    label="Terminal"
                    required
                ></v-select-field>
            </div>
        </div>
    </div>

    <v-dialog-actions>
        <button
            [disabled]="form.invalid || predicateControl.invalid"
            color="primary"
            mat-button
            (click)="add()"
        >
            Add
        </button>
    </v-dialog-actions>
</v-dialog>
