<div
    [formGroup]="control"
    gdColumns="1fr 1fr 1fr 1fr"
    gdColumns.lt-md="1fr 1fr"
    gdColumns.lt-sm="1fr"
    gdGap="16px"
>
    <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input formControlName="fromTime" matInput matStartDate placeholder="Start Date" />
            <input formControlName="toTime" matEndDate matInput placeholder="End Date" />
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix>
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
        <input autocomplete="off" formControlName="payoutId" matInput placeholder="Payout ID" />
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="payoutStatusTypes" multiple placeholder="Payout Status Type">
            <mat-option *ngFor="let type of statusTypes" [value]="statusType[type]">
                {{ type }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="payoutToolType" placeholder="Payout Tool Type">
            <mat-option [value]="null">any</mat-option>
            <mat-option *ngFor="let type of payoutToolTypes" [value]="payoutToolType[type]">
                {{ type }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <cc-merchant-field formControlName="partyId"></cc-merchant-field>
    <cc-shop-field
        [partyId]="control.value.partyId"
        formControlName="shops"
        gdColumn.gt-sm="auto/span 3"
        multiple
    ></cc-shop-field>
</div>
