$offset: 24px;

.editor {
    display: block;
    height: 100%;
}

.content {
    $header-height: 64px;
    $title-height: 40px;
    $actions-height: 36px;
    $offsets: $offset * 4;
    $internal-offsets: 16px * 2;

    height: calc(
        100vh - ($header-height + $title-height + $actions-height + $offsets + $internal-offsets)
    );
    overflow-y: scroll;
}
