@use '../../../../../../../libs/matez/index' as v;

@mixin cc-timeline-item-badge-theme($theme) {
    .cc-timeline-item-badge {
        background-color: v.get-color($theme, neutral, 200);

        &.primary {
            background-color: v.get-color($theme, primary, darker);

            mat-icon {
                color: white;
            }
        }

        &.warn {
            background-color: v.get-color($theme, pending, darker);

            mat-icon {
                color: white;
            }
        }

        &.error {
            background-color: v.get-color($theme, warn, darker);

            mat-icon {
                color: white;
            }
        }

        &.success {
            background-color: v.get-color($theme, success, darker);

            mat-icon {
                color: white;
            }
        }
    }
}
