@use 'sass:map';
@use '@angular/material' as mat;

@mixin cc-timeline-item-badge-theme($theme) {
    .cc-timeline-item-badge {
        background-color: mat.get-theme-color($theme, neutral, 90);

        &.primary {
            background-color: var(--app-primary-bg);

            mat-icon {
                color: white;
            }
        }

        &.warn {
            background-color: var(--app-pending-bg);

            mat-icon {
                color: white;
            }
        }

        &.error {
            background-color: var(--app-error-bg);

            mat-icon {
                color: white;
            }
        }

        &.success {
            background-color: var(--app-success-bg);

            mat-icon {
                color: white;
            }
        }
    }
}
