<cc-page-layout [id]="(claim$ | async)?.id" title="Claim">
    @if (claim$ | async; as claim) {
        <cc-page-layout-actions>
            <cc-status [color]="statusColor[claim.status | ngtUnionKey]">{{
                claim.status | ngtUnionKey | ngtKeyTitle | titlecase
            }}</cc-status>
        </cc-page-layout-actions>
    }

    <div style="display: flex; flex-direction: column; gap: 24px">
        <cc-timeline>
            @if (isLoading$ | async) {
                <cc-timeline-item>
                    <cc-timeline-item-badge color="pending">
                        <mat-icon>hourglass_empty</mat-icon>
                    </cc-timeline-item-badge>
                    <cc-timeline-item-title>
                        <cc-timeline-item-header text="Loading..."></cc-timeline-item-header>
                    </cc-timeline-item-title>
                </cc-timeline-item>
            } @else {
                @let claim = claim$ | async;

                <cc-timeline-item>
                    <cc-timeline-item-badge>
                        <mat-icon>create</mat-icon>
                    </cc-timeline-item-badge>
                    <cc-timeline-item-title>
                        <cc-timeline-item-header
                            [createdAt]="claim.created_at"
                            text="Claim created"
                        ></cc-timeline-item-header>
                    </cc-timeline-item-title>
                </cc-timeline-item>
                @for (modificationUnit of claim.changeset; track modificationUnit) {
                    @switch (modificationUnit.modification | ngtUnionKey) {
                        @case ('party_modification') {
                            @switch (modificationUnit.modification | ngtUnionValue | ngtUnionKey) {
                                @case ('shop_modification') {
                                    <cc-shop-modification-timeline-item
                                        [claim]="claim"
                                        [modificationUnit]="modificationUnit"
                                        (claimChanged)="reloadClaim()"
                                    >
                                    </cc-shop-modification-timeline-item>
                                }
                                @default {
                                    <cc-modification-unit-timeline-item
                                        [claim]="claim"
                                        [modificationUnit]="modificationUnit"
                                        isChangeable
                                        (claimChanged)="reloadClaim()"
                                    ></cc-modification-unit-timeline-item>
                                }
                            }
                        }
                        @case ('claim_modification') {
                            @switch (modificationUnit.modification | ngtUnionValue | ngtUnionKey) {
                                @case ('status_modification') {
                                    <cc-status-modification-timeline-item
                                        [claim]="claim"
                                        [modificationUnit]="modificationUnit"
                                        (claimChanged)="reloadClaim()"
                                    >
                                    </cc-status-modification-timeline-item>
                                }
                                @default {
                                    <cc-modification-unit-timeline-item
                                        [claim]="claim"
                                        [modificationUnit]="modificationUnit"
                                        (claimChanged)="reloadClaim()"
                                    ></cc-modification-unit-timeline-item>
                                }
                            }
                        }
                        @default {
                            <cc-modification-unit-timeline-item
                                [claim]="claim"
                                [modificationUnit]="modificationUnit"
                                isChangeable
                                (claimChanged)="reloadClaim()"
                            ></cc-modification-unit-timeline-item>
                        }
                    }
                }
            }
        </cc-timeline>

        <v-actions>
            <button
                [disabled]="(isAllowedChangeStatus$ | async) === false"
                mat-button
                (click)="changeStatus()"
            >
                Change status
            </button>
            <button mat-button (click)="createWallet()">Add wallet modification</button>
            <button mat-button (click)="createShop()">Add shop modifications</button>
            <button mat-flat-button (click)="addModification()">Add modification</button>
        </v-actions>
    </div>
</cc-page-layout>
