<cc-page-layout [progress]="isLoading$ | async" title="Invoice Events">
    <cc-timeline>
        @for (e of events$ | async; track e) {
            <cc-timeline-item>
                <cc-timeline-item-badge>
                    <mat-icon>create</mat-icon>
                </cc-timeline-item-badge>
                <cc-timeline-item-title>
                    <cc-timeline-item-header
                        [date]="e.event.created_at"
                        [text]="e.change | ngtUnionKey | ngtKeyTitle | titlecase"
                    ></cc-timeline-item-header>
                </cc-timeline-item-title>
                <cc-timeline-item-content>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ e.change | ngtUnionKey | ngtKeyTitle | titlecase }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <cc-domain-thrift-viewer
                                [type]="e.type"
                                [value]="e.change"
                                namespace="payment_processing"
                            ></cc-domain-thrift-viewer>
                        </ng-template>
                    </mat-expansion-panel>
                </cc-timeline-item-content>
            </cc-timeline-item>
        }
    </cc-timeline>
</cc-page-layout>
