<cc-page-layout [progress]="isLoading$ | async" title="Deposit details">
    <mat-card *ngIf="deposit$ | async">
        <mat-card-content>
            <v-thrift-viewer
                [extensions]="extensions$ | async"
                [metadata]="metadata$ | async"
                [value]="deposit$ | async"
                namespace="fistful_stat"
                type="StatDeposit"
            ></v-thrift-viewer>
        </mat-card-content>
    </mat-card>
    <cc-reverts *ngIf="deposit$ | async as deposit" [deposit]="deposit"></cc-reverts>
</cc-page-layout>
