<v-dialog title="Change chargeback">
    <div gdColumn="1fr" gdGap="16px">
        <mat-form-field style="width: 100%">
            <mat-label>Action</mat-label>
            <mat-select [formControl]="actionControl">
                <mat-option *ngFor="let k of typeEnum | enumKeys" [value]="typeEnum[k]">{{
                    k
                }}</mat-option>
            </mat-select>
        </mat-form-field>

        <cc-metadata-form
            [extensions]="extensions$ | async"
            [formControl]="control"
            [metadata]="metadata$ | async"
            [type]="types[actionControl.value]"
            namespace="payment_processing"
        ></cc-metadata-form>
    </div>

    <v-dialog-actions>
        <button
            [disabled]="control.invalid || actionControl.invalid || !!(progress$ | async)"
            color="primary"
            mat-raised-button
            (click)="confirm()"
        >
            {{ (actionControl.value | enumKey : typeEnum) || 'Change' }}
        </button>
    </v-dialog-actions>
</v-dialog>
