<form [formGroup]="form">
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <input formControlName="legal_name" matInput placeholder="Legal name" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="trading_name" matInput placeholder="Trading name" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                formControlName="registered_address"
                matInput
                placeholder="Registered address"
                required
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="country" matInput placeholder="Country Code" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="actual_address" matInput placeholder="Actual address" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="registered_number" matInput placeholder="Registered number" />
        </mat-form-field>
    </div>
</form>
