<form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
    <h1 class="mat-headline">Create revert</h1>
    <mat-dialog-content fxLayout="column" fxLayoutGap="16px">
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <input
                    formControlName="amount"
                    matInput
                    placeholder="Amount"
                    required
                    type="number"
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    formControlName="currency"
                    matInput
                    placeholder="Currency"
                    readonly
                    required
                    type="text"
                />
            </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <input
                    formControlName="reason"
                    matInput
                    placeholder="Reason (optional)"
                    type="text"
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    formControlName="externalID"
                    matInput
                    placeholder="External ID (optional)"
                    type="text"
                />
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout fxLayoutAlign="space-between">
        <button [disabled]="isLoading$ | async" mat-button (click)="closeDialog()">CANCEL</button>
        <button
            [disabled]="(isLoading$ | async) || form.invalid"
            color="primary"
            mat-button
            (click)="createRevert()"
        >
            CREATE
        </button>
        <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    </mat-dialog-actions>
</form>
