<div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
    <div>{{ bankCard | toCardNumber }}</div>
    <!--   TODO Need migration according to: https://github.com/valitydev/damsel/commit/61677b86006d405619bdc5f23d6416a929688180 -->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.payment_system_deprecated === legacyPaymentSystems?.visa"-->
    <!--        svgIcon="visa"-->
    <!--    ></mat-icon>-->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.payment_system_deprecated === legacyPaymentSystems?.mastercard"-->
    <!--        svgIcon="mastercard"-->
    <!--    ></mat-icon>-->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.payment_system_deprecated === legacyPaymentSystems?.nspkmir"-->
    <!--        svgIcon="mir"-->
    <!--    ></mat-icon>-->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.token_provider_deprecated === legacyTokenProviders?.applepay"-->
    <!--        svgIcon="apple_pay"-->
    <!--    ></mat-icon>-->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.token_provider_deprecated === legacyTokenProviders?.samsungpay"-->
    <!--        svgIcon="samsung_pay"-->
    <!--    ></mat-icon>-->
    <!--    <mat-icon-->
    <!--        *ngIf="bankCard.token_provider_deprecated === legacyTokenProviders?.googlepay"-->
    <!--        svgIcon="google_pay"-->
    <!--    ></mat-icon>-->
</div>
