<ng-container *ngIf="isLoading$ | async; else loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #loaded>
    <div *ngIf="partyRuleset$ | async as partyRuleset; else emptyPartyDelegate" class="content">
        <cc-routing-ruleset-header
            [backTo]="
                'party/' + (partyID$ | async) + '/routing-rules/' + (routingRulesType$ | async)
            "
            [refID]="partyRuleset.ref.id"
            (add)="addPartyRule()"
        >
            Party routing rules
        </cc-routing-ruleset-header>

        <cc-routing-rules-list
            *ngIf="(routingRulesType$ | async) === 'payment'"
            [data]="shopsData$ | async"
            [displayedColumns]="shopsDisplayedColumns"
            (toDetails)="navigateToDelegate($event.parentRefId, $event.delegateIdx)"
        ></cc-routing-rules-list>

        <cc-routing-rules-list
            *ngIf="(routingRulesType$ | async) === 'withdrawal'"
            [data]="walletsData$ | async"
            [displayedColumns]="walletsDisplayedColumns"
            (toDetails)="navigateToDelegate($event.parentRefId, $event.delegateIdx)"
        ></cc-routing-rules-list>
    </div>

    <ng-template #emptyPartyDelegate>
        <div class="empty-party-delegate">
            <div class="mat-display-1">Routing rules not found</div>
            <button class="init" color="primary" mat-raised-button (click)="initialize()">
                Initialize
            </button>
        </div>
    </ng-template>
</ng-template>
