<ng-container [ngSwitch]="data?.typeGroup">
    <cc-primitive-field *ngSwitchCase="'primitive'" [data]="data"></cc-primitive-field>
    <cc-complex-form *ngSwitchCase="'complex'" [data]="data"></cc-complex-form>
    <ng-container *ngSwitchCase="'object'" [ngSwitch]="data.objectType">
        <cc-struct-form *ngSwitchCase="'struct'" [data]="data"></cc-struct-form>
        <cc-union-field *ngSwitchCase="'union'" [data]="data"></cc-union-field>
        <cc-typedef-form *ngSwitchCase="'typedef'" [data]="data"></cc-typedef-form>
    </ng-container>
</ng-container>
