<cc-page-layout fullHeight title="Payments">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters
        #filters
        [active]="active$ | async"
        merge
        (clear)="filtersForm.reset(); otherFiltersControl.reset()"
    >
        <ng-template [formGroup]="filtersForm" vMainFilters>
            <v-date-range-field formControlName="dateRange"></v-date-range-field>
            <v-list-field
                focusedHint="invoice_1, invoice_2.payment_2"
                formControlName="invoice_ids"
                label="Invoice and Payment Ids"
            ></v-list-field>
            <v-input-field formControlName="external_id" label="External Id"></v-input-field>
            <cc-merchant-field formControlName="party_id"></cc-merchant-field>
            <cc-shop-field formControlName="shop_ids" multiple></cc-shop-field>
            <v-input-field formControlName="payment_first6" label="Card BIN"></v-input-field>
            <v-input-field formControlName="payment_last4" label="Card PAN"></v-input-field>
            <v-input-field formControlName="payment_rrn" label="Payment RRN"></v-input-field>
            <v-input-field formControlName="payment_email" label="Payer email"></v-input-field>
            <v-input-field formControlName="error_message" label="Error message"></v-input-field>
        </ng-template>
        <ng-template vOtherFilters>
            <cc-magista-thrift-form
                [extensions]="extensions"
                [formControl]="otherFiltersControl"
                noToolbar
                type="PaymentSearchQuery"
            ></cc-magista-thrift-form>
        </ng-template>
    </v-filters>

    <cc-payments-table
        [data]="(payments$ | async) || []"
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        [selected]="selected$ | async"
        (more)="more()"
        (selectedChange)="selected$.next($event)"
        (update)="reload($event ?? {})"
    >
        <button
            [disabled]="!(selected$ | async)?.length"
            [matBadge]="(selected$ | async)?.length || ''"
            mat-button
            (click)="failMachines()"
        >
            Fail machines
        </button>
        <button mat-button (click)="createInvoiceTemplate()">Create invoice template</button>
        @if ((selected$ | async)?.length) {
            <button
                [disabled]="!(selected$ | async)?.length"
                [matBadge]="(selected$ | async)?.length"
                mat-flat-button
                (click)="createPaymentAdjustment()"
            >
                Create adjustments
            </button>
        } @else {
            <button mat-flat-button matBadge="CSV" (click)="createPaymentAdjustments()">
                Create adjustments
            </button>
        }
    </cc-payments-table>
</cc-page-layout>
