<div fxLayout="column" fxLayoutGap="24px">
    <mat-card>
        <mat-card-content>
            <mat-form-field fxFlex="25">
                <input
                    matInput
                    placeholder="Filter"
                    type="text"
                    (keyup)="applyFilter($event.target.value)"
                />
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content fxLayout="column">
            <table [dataSource]="dataSource" fxFlex mat-table>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell>Shop ID</th>
                    <td *matCellDef="let shop" mat-cell>{{ shop.id }}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell>Name</th>
                    <td *matCellDef="let shop" mat-cell>{{ shop.details.name }}</td>
                </ng-container>
                <ng-container matColumnDef="url">
                    <th *matHeaderCellDef mat-header-cell>Url</th>
                    <td *matCellDef="let shop" mat-cell>{{ shop.location.url }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
                    <td *matCellDef="let shop" class="action-cell" mat-cell>
                        <button [matMenuTriggerFor]="menu" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="navigateToShop(shop.id)">Details</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let shop; columns: displayedColumns" mat-row></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[10, 20, 50, 100, 250, 500]"
                showFirstLastButtons
            ></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
