@use '@angular/material' as mat;
@import '../utils/palette';
@import './theme';

$theme: map-merge(
    mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$indigo-palette),
                accent: mat.define-palette(mat.$pink-palette),
            ),
        )
    ),
    (
        name: 'light',
        gray: mat.define-palette(mat.$grey-palette),
        success-base: mat.get-color-from-palette(mat.define-palette($cc-success), 400),
        pending-base: mat.get-color-from-palette(mat.define-palette($cc-pending), 800),
        warn-base: mat.get-color-from-palette(mat.define-palette($cc-warn), 300),
        white: white,
        blue: #0366d6,
        orange: #dbab09,
        red: #cb2431,
        green: #2cbe4e,
        neutral: mat.define-palette(mat.$grey-palette),
    )
);

@include mat.core();
@include cc-theme($theme);
