<div class="mat-dialog-title">Create payout</div>
<mat-dialog-content [formGroup]="control" gdColumns="1fr" gdGap="16px">
    <cc-merchant-field formControlName="partyId" required></cc-merchant-field>
    <cc-shop-field
        [partyId]="this.control.value.partyId"
        formControlName="shopId"
        required
    ></cc-shop-field>
    <div fxLayout fxLayoutGap="24px">
        <mat-form-field fxFlex>
            <input formControlName="amount" matInput placeholder="Amount" required type="number" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                formControlName="currency"
                matInput
                placeholder="Currency"
                required
                type="text"
            />
        </mat-form-field>
    </div>
    <cc-payout-tool-field
        [partyId]="this.control.value.partyId"
        [shopId]="this.control.value.shopId"
        formControlName="payoutToolId"
    ></cc-payout-tool-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="space-between">
    <button [disabled]="!!(progress$ | async)" [mat-dialog-close]="false" mat-button>CANCEL</button>
    <button
        (click)="create()"
        [disabled]="control.invalid || !!(progress$ | async)"
        color="primary"
        mat-button
    >
        CREATE
    </button>
    <mat-progress-bar *ngIf="progress$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
