<v-dialog [progress]="!!(progress$ | async)" title="Create payout">
    <div [formGroup]="control" gdColumns="1fr" gdGap="16px">
        <cc-merchant-field formControlName="partyId" required></cc-merchant-field>
        <cc-shop-field
            [partyId]="this.control.value.partyId"
            formControlName="shopId"
            required
        ></cc-shop-field>
        <div style="display: flex; gap: 24px">
            <mat-form-field style="flex: 1">
                <input
                    formControlName="amount"
                    matInput
                    placeholder="Amount"
                    required
                    type="number"
                />
            </mat-form-field>
            <mat-form-field style="flex: 1">
                <input
                    formControlName="currency"
                    matInput
                    placeholder="Currency"
                    required
                    type="text"
                />
            </mat-form-field>
        </div>
        <cc-payout-tool-field
            [partyId]="this.control.value.partyId"
            [shopId]="this.control.value.shopId"
            formControlName="payoutToolId"
        ></cc-payout-tool-field>
    </div>
    <v-dialog-actions>
        <button
            [disabled]="control.invalid || !!(progress$ | async)"
            color="primary"
            mat-button
            (click)="create()"
        >
            Create
        </button>
    </v-dialog-actions>
</v-dialog>
