<mat-sidenav-container>
    <mat-sidenav
        #domainObjDetails
        [opened]="!!objWithRef"
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        position="end"
    >
        <div class="details-container" fxLayout="column" fxLayoutGap="24px">
            <cc-thrift-viewer
                [extensions]="extensions$ | async"
                [kind]="kind"
                [metadata]="metadata$ | async"
                [value]="objWithRef?.obj"
                class="viewer"
                namespace="domain"
                type="DomainObject"
                (changeKind)="kind = $event"
            ></cc-thrift-viewer>
            <v-actions>
                <button mat-button (click)="close()">CLOSE</button>
                <button color="warn" mat-button (click)="delete()">DELETE</button>
                <button color="primary" mat-button (click)="edit()">EDIT</button>
            </v-actions>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="column" fxLayoutGap="24px" style="margin: 24px 16px 4px">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <h1 class="cc-display-1">
                    Domain config <span class="cc-secondary-text">#{{ version$ | async }}</span>
                </h1>
                <div>
                    <button color="primary" mat-raised-button routerLink="/domain/create">
                        CREATE OBJECT
                    </button>
                </div>
            </div>
            <div *ngIf="progress$ | async; else content" fxLayout fxLayoutAlign="center stretch">
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #content>
                <cc-domain-group (refChange)="objWithRef = $event"></cc-domain-group>
            </ng-template>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
