<mat-toolbar class="toolbar" color="primary">
    <span>Control Center</span> <span class="spacer"></span> <span>{{ username }}</span>
    <button [matMenuTriggerFor]="userMenu" mat-icon-button><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>

<mat-menu #userMenu="matMenu"> <button mat-menu-item (click)="logout()">Logout</button> </mat-menu>

<mat-sidenav-container autosize class="container">
    <mat-sidenav fixedInViewport="true" fixedTopGap="64" mode="side" opened role="navigation">
        <mat-nav-list>
            <ng-container *ngFor="let group of menuItems; let i = index">
                <mat-divider *ngIf="i !== 0"></mat-divider>
                <mat-list-item
                    *ngFor="let item of group"
                    [routerLink]="item.route"
                    [routerLinkActive]="['active']"
                    >{{ item.name }}
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
        [opened]="sidenavInfoService.opened$ | async"
        class="sidenav-info"
        fixedInViewport="true"
        fixedTopGap="64"
        mode="side"
        position="end"
    >
        <cc-sidenav-info></cc-sidenav-info>
    </mat-sidenav>
</mat-sidenav-container>
