<div fxLayout="column" fxLayoutGap="32px">
    <h1 class="mat-headline">Other filters</h1>
    <mat-dialog-content [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <input formControlName="payerEmail" matInput placeholder="Payer email" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input formControlName="terminalID" matInput placeholder="Terminal ID" />
                </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <input formControlName="providerID" matInput placeholder="Provider ID" />
                </mat-form-field>
                <div fxFlex></div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Status</h2>
        <cc-expandable-radio-group
            [values]="paymentStatuses"
            formControlName="paymentStatus"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Domain Revision</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input formControlName="domainRevisionFrom" matInput placeholder="From" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input formControlName="domainRevisionTo" matInput placeholder="To" />
                <mat-hint *ngIf="currentDomainVersion$ | async as version"
                    >Latest: {{ version }}</mat-hint
                >
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Amount</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input formControlName="paymentAmountFrom" matInput placeholder="From" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input formControlName="paymentAmountTo" matInput placeholder="To" />
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Method</h2>
        <cc-expandable-radio-group
            [values]="paymentMethods"
            formControlName="paymentMethod"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Token Provider</h2>
        <cc-expandable-radio-group
            [values]="tokenProviders"
            formControlName="tokenProvider"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment System</h2>
        <cc-expandable-radio-group
            [values]="paymentSystems"
            formControlName="paymentSystem"
        ></cc-expandable-radio-group>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout fxLayoutAlign="space-between">
        <button mat-button (click)="cancel()">CANCEL</button>
        <button [disabled]="form.invalid" color="primary" mat-button (click)="save()">SAVE</button>
    </mat-dialog-actions>
</div>
