<v-dialog title="Other filters">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input formControlName="payerEmail" matInput placeholder="Payer email" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input formControlName="terminalID" matInput placeholder="Terminal ID" />
            </mat-form-field>
        </div>
        <mat-form-field fxFlex>
            <input formControlName="providerID" matInput placeholder="Provider ID" />
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="paymentStatus" placeholder="Payment Status">
                <mat-option [value]="null">any</mat-option>
                <mat-option *ngFor="let s of paymentStatuses" [value]="s.value">
                    {{ s.key }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="paymentMethod" placeholder="Payment Method">
                <mat-option [value]="null">any</mat-option>
                <mat-option *ngFor="let pm of paymentMethods" [value]="pm.value">
                    {{ pm.key }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="tokenProvider" placeholder="Token Provider">
                <mat-option [value]="null">any</mat-option>
                <mat-option *ngFor="let p of tokenProviders$ | async" [value]="p.ref.id">
                    {{ p.data.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="paymentSystem" placeholder="Payment System">
                <mat-option [value]="null">any</mat-option>
                <mat-option *ngFor="let ps of paymentSystems$ | async" [value]="ps.ref.id">
                    {{ ps.data.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>
        <h2 class="mat-title">Domain Revision</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input formControlName="domainRevisionFrom" matInput placeholder="From" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input formControlName="domainRevisionTo" matInput placeholder="To" />
                <mat-hint *ngIf="currentDomainVersion$ | async as version"
                    >Latest: {{ version }}</mat-hint
                >
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Amount</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input formControlName="paymentAmountFrom" matInput placeholder="From" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input formControlName="paymentAmountTo" matInput placeholder="To" />
            </mat-form-field>
        </div>
    </div>
    <v-dialog-actions>
        <button [disabled]="form.invalid" color="primary" mat-button (click)="save()">SAVE</button>
    </v-dialog-actions>
</v-dialog>
