<cc-page-layout title="Wallets terms">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters #filters [active]="active$ | async" (clear)="filtersForm.reset()">
        <ng-template [formGroup]="filtersForm">
            <cc-merchant-field formControlName="party_id"></cc-merchant-field>
            <cc-wallet-field formControlName="wallet_ids" multiple></cc-wallet-field>
            <v-list-field formControlName="identity_ids" label="Identity IDs"></v-list-field>
            <v-list-field formControlName="currencies" label="Currencies"></v-list-field>
            <v-list-field formControlName="term_sets_names" label="Term sets names"></v-list-field>
            <v-list-field formControlName="term_sets_ids" label="Term sets IDs"></v-list-field>
        </ng-template>
    </v-filters>

    <v-table
        [cellTemplate]="{
            condition: arrayColumnTemplate,
            fee: arrayColumnTemplate,
            other: arrayColumnTemplate
        }"
        [columns]="columns"
        [data]="tariffs$ | async"
        [hasMore]="hasMore$ | async"
        [progress]="isLoading$ | async"
        (more)="more()"
        (update)="update($event)"
    ></v-table>

    <ng-template #arrayColumnTemplate let-colDef="colDef" let-rowData="rowData" let-value="value">
        <ng-container *ngIf="(rowData | vSelect: colDef.tooltip : '' : [colDef]) || ' ' as tooltip">
            <div
                *ngFor="let item of value; let index = index"
                [matTooltip]="tooltip[index]"
                [title]="item"
                matTooltipPosition="right"
                style="
                    white-space: nowrap;
                    cursor: default;
                    max-width: 50vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                "
            >
                {{ value?.length > 1 ? item || '-' : item }}
            </div>
        </ng-container>
    </ng-template>
</cc-page-layout>
