<cc-group-control
    [group]="group"
    (regExpPatternChange)="applyFilter($event)"
    (typeSelectionChange)="setTableData($event)"
></cc-group-control>
<div class="table-container">
    <table [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="name" sticky>
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let object" mat-cell>{{ object.name }}</td>
        </ng-container>
        <ng-container matColumnDef="ref">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Ref</th>
            <td *matCellDef="let object" mat-cell>
                <cc-pretty-json [object]="object.ref" inline="true"></cc-pretty-json>
            </td>
        </ng-container>
        <ng-container matColumnDef="data">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Data</th>
            <td *matCellDef="let object" mat-cell>
                <cc-pretty-json [object]="object.data" inline="true"></cc-pretty-json>
            </td>
        </ng-container>
        <ng-container matColumnDef="details" stickyEnd>
            <th *matHeaderCellDef mat-header-cell>Details</th>
            <td *matCellDef="let object; let index = index" mat-cell>
                <button mat-icon-button (click)="openDetails(object, index)">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr *matHeaderRowDef="cols" mat-header-row></tr>
        <tr
            *matRowDef="let object; columns: cols; let index = index"
            [class.selected-row]="selectedIndex === index && detailsOpened"
            mat-row
        ></tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
