<div
    *ngIf="doAction$ | async; else content"
    style="display: flex; place-content: center; align-items: center"
>
    <mat-spinner diameter="64"></mat-spinner>
</div>
<ng-template #content>
    <div style="display: flex; flex-direction: column; gap: 24px">
        <cc-refunds-table [refunds]="refunds$ | async"></cc-refunds-table>
        <cc-show-more-button
            *ngIf="hasMore$ | async"
            [inProgress]="doAction$ | async"
            (fetchMore)="fetchMore()"
        ></cc-show-more-button>
    </div>
</ng-template>
