<cc-page-layout fullHeight title="Organizations">
    <cc-page-layout-actions>
        <button mat-flat-button (click)="create()">Create</button>
        <v-more-filters-button [filters]="filtersComponent"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters #filtersComponent [active]="active()" merge (clear)="resetFilters()">
        <ng-template>
            <cc-user-field [formField]="filtersControl.owner_id" label="Owner ID"></cc-user-field>
            <v-select-field
                [formField]="filtersControl.status"
                [options]="statusOptions"
                label="Status"
            ></v-select-field>
        </ng-template>
    </v-filters>
    <v-table-resource [columns]="columns" [resource]="organizations" />
</cc-page-layout>
