<form
    fxLayout
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="20px"
    fxLayoutGap.sm="0"
    fxLayoutGap.xs="0"
>
    <cc-domain-objects-type-selector
        (typeSelectionChange)="selectionChange($event)"
        [group]="group"
        fxFlex="50"
    ></cc-domain-objects-type-selector>
    <mat-form-field fxFlex="50">
        <span matPrefix>/</span>
        <input
            (keyup)="patternChange($event.target.value)"
            [value]="pattern"
            matInput
            placeholder="RegExp pattern"
        />
        <span matSuffix>/</span>
        <button (click)="clearPattern()" aria-label="Clear" mat-button mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</form>
