<v-dialog
    [progress]="isLoading$ | async"
    [title]="isUpdate ? 'Update modification unit' : 'Add modification unit'"
>
    <cc-modification-form
        [claim]="dialogData.claim"
        [formControl]="control"
        [party]="dialogData.party"
        [type]="isUpdate ? 'Modification' : 'ModificationChange'"
    ></cc-modification-form>
    <v-dialog-actions>
        <button
            [disabled]="control.invalid || (isLoading$ | async)"
            color="primary"
            mat-raised-button
            (click)="isUpdate ? update() : add()"
        >
            {{ isUpdate ? 'Update' : 'Add' }}
        </button>
    </v-dialog-actions>
</v-dialog>
