<form [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
    <div class="cc-headline">Add modification unit</div>

    <cc-metadata-form
        [metadata]="metadata$ | async"
        namespace="claim_management"
        type="ModificationUnit"
    ></cc-metadata-form>

    <div fxLayout fxLayoutAlign="space-between">
        <button mat-button (click)="cancel()">CANCEL</button>
        <button mat-button color="primary" (click)="add()" [disabled]="form.invalid">ADD</button>
    </div>
</form>
