<form [formGroup]="form" fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <input
                [matDatepicker]="fromTimePicker"
                formControlName="fromTime"
                matInput
                placeholder="From time"
                required
            />
            <mat-datepicker-toggle [for]="fromTimePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #fromTimePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                [matDatepicker]="toTimePicker"
                formControlName="toTime"
                matInput
                placeholder="To time"
                required
            />
            <mat-datepicker-toggle [for]="toTimePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #toTimePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-select formControlName="status" placeholder="Payment status">
                <mat-option [value]="null">any</mat-option>
                <mat-option *ngFor="let status of statuses" [value]="status">{{
                    status
                }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <input
                formControlName="fromRevision"
                matInput
                placeholder="From domain revision"
                required
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                formControlName="toRevision"
                matInput
                placeholder="To domain revision"
                required
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="providerID" matInput placeholder="Provider ID" />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <input formControlName="partyId" matInput placeholder="Party ID" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                formControlName="shopId"
                matInput
                placeholder="Shop ID (Filled party ID required)"
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="terminalID" matInput placeholder="Terminal ID" />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <input formControlName="invoiceIds" matInput placeholder="Invoice IDs" />
            <mat-hint>Ex: 1QLplnyXEC8, 1QLpm9gHTs0, 1QLpkenTYx6</mat-hint>
        </mat-form-field>
    </div>
</form>
