<mat-card *ngIf="(dataSource$ | async)?.data?.length; else empty">
    <mat-card-content fxLayout="column">
        <table [dataSource]="dataSource$ | async" mat-table>
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
                <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
                <td *matCellDef="let element" mat-cell>
                    <div
                        *ngIf="
                            element[column.key]?.text || element[column.key]?.caption;
                            else onlyBody
                        "
                        fxLayout="column"
                    >
                        <div class="cc-body-1">{{ element[column.key]?.text || '&nbsp;' }}</div>
                        <div class="cc-caption">
                            {{ element[column.key]?.caption || '&nbsp;' }}
                        </div>
                    </div>
                    <ng-template #onlyBody>
                        {{ element[column.key] }}
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell width="1px"></th>
                <td *matCellDef="let element" mat-cell>
                    <button [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            (click)="
                                toDetails.emit({
                                    parentRefId: element?.parentRefId,
                                    delegateIdx: element?.delegateIdx
                                })
                            "
                            mat-menu-item
                        >
                            Details
                        </button>
                        <button (click)="changeDelegateRuleset(element)" mat-menu-item>
                            Change delegate ruleset
                        </button>
                        <button (click)="changeTarget(element)" mat-menu-item>
                            Change main ruleset
                        </button>
                        <button (click)="cloneDelegateRuleset(element)" mat-menu-item>
                            Clone delegate ruleset
                        </button>
                        <button (click)="delete(element)" mat-menu-item>Delete</button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="allDisplayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: allDisplayedColumns" mat-row></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[10, 20, 50, 100, 250, 500]"
            showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>

<ng-template #empty>
    <div class="cc-display-1" fxLayout="column" fxLayoutAlign=" center">
        Routing rules not found
    </div>
</ng-template>
