<mat-card>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="16px">
            <div fxFlexFill fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <mat-label>Date Range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input
                            formControlName="fromTime"
                            matInput
                            matStartDate
                            placeholder="Start Date"
                        />
                        <input
                            formControlName="toTime"
                            matEndDate
                            matInput
                            placeholder="End Date"
                        />
                    </mat-date-range-input>
                    <mat-datepicker-toggle [for]="picker" matSuffix>
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input
                        autocomplete="false"
                        formControlName="amountTo"
                        matInput
                        placeholder="Amount To"
                        type="number"
                    />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Currency Code</mat-label>
                    <mat-select formControlName="currencyCode">
                        <mat-option [value]="null">any</mat-option>
                        <mat-option
                            *ngFor="let source of sources$ | async"
                            [value]="source.currency_symbolic_code"
                        >
                            {{ source.currency_symbolic_code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="null">any</mat-option>
                        <mat-option *ngFor="let status of depositStatuses" [value]="status">
                            {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <input
                        autocomplete="false"
                        formControlName="depositId"
                        matInput
                        placeholder="Deposit ID"
                        type="text"
                    />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input
                        autocomplete="false"
                        formControlName="identityId"
                        matInput
                        placeholder="Identity ID"
                        type="text"
                    />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input
                        autocomplete="false"
                        formControlName="walletId"
                        matInput
                        placeholder="Wallet ID"
                        type="text"
                    />
                </mat-form-field>
                <cc-merchant-field formControlName="partyId" fxFlex></cc-merchant-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>
