<div style="display: flex; flex-direction: column; gap: 24px">
    <div style="display: flex; place-content: center space-between; align-items: center; gap: 8px">
        <div class="mat-headline-4 mat-no-margin">Party delegate rulesets</div>
        <button color="primary" mat-button (click)="attachNewRuleset()">Attach new ruleset</button>
    </div>

    <cc-routing-rules-list
        [data]="data$ | async"
        [displayedColumns]="displayedColumns"
        [progress]="isLoading$ | async"
        (toDetails)="navigateToPartyRuleset($event.parentRefId, $event.delegateIdx)"
    ></cc-routing-rules-list>
</div>
