<cc-page-layout
    [progress]="isLoading$ | async"
    [title]="
        (routingRulesTypeService.routingRulesType$ | async) === 'payment'
            ? 'Payment Routing Rules'
            : 'Withdrawal Routing Rules'
    "
    noOffset
>
    <cc-page-layout-actions>
        <button color="primary" mat-raised-button (click)="attachNewRuleset()">Add</button>
    </cc-page-layout-actions>
    <cc-routing-rules-list
        [data]="data$ | async"
        [displayedColumns]="displayedColumns"
        [progress]="isLoading$ | async"
        (toDetails)="navigateToPartyRuleset($event.parentRefId, $event.delegateIdx)"
    ></cc-routing-rules-list>
</cc-page-layout>
