<ng-container *ngIf="isLoading$ | async; else loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #loaded>
    <div [fxLayoutGap]="(data$ | async)?.length ? '24px' : '64px'" fxLayout="column">
        <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="8px">
            <div class="cc-headline">Party delegate rulesets</div>
            <button (click)="attachNewRuleset()" color="primary" mat-button>
                ATTACH NEW RULESET
            </button>
        </div>

        <cc-routing-rules-list
            (toDetails)="navigateToPartyRuleset($event.parentRefId, $event.delegateIdx)"
            [data]="data$ | async"
            [displayedColumns]="displayedColumns"
        ></cc-routing-rules-list>
    </div>
</ng-template>
