<div style="display: flex; flex-direction: column; gap: 24px">
    <h1 class="mat-headline-5">Reverts</h1>
    <v-table
        [columns]="columns"
        [data]="reverts$ | async"
        [hasMore]="hasMore$ | async"
        [progress]="isLoading$ | async"
        (more)="more()"
        (update)="reload($event)"
    >
        <v-table-actions>
            <button
                [disabled]="isCreateRevertAvailable(deposit?.status)"
                color="primary"
                mat-raised-button
                (click)="createRevert()"
            >
                Create revert
            </button>
        </v-table-actions>
    </v-table>
</div>
