@use '../timeline-item.scss';

.cc-timeline-item-badge {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: timeline-item.$size;
    width: timeline-item.$size;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;

    ::ng-deep > *,
    ::ng-deep > * mat-icon {
        height: timeline-item.$icons-size;
        width: timeline-item.$icons-size;
        font-size: timeline-item.$icons-size;
    }
}
