<div fxLayout>
    <mat-form-field fxFlex>
        <mat-select
            #nameSelect="ngModel"
            [(ngModel)]="selectedNames"
            (selectionChange)="selectionChange($event)"
            multiple
            placeholder="Domain objects"
        >
            <mat-option class="filter-option" disabled="disabled">
                <button (click)="selectAll(nameSelect)" mat-button>SELECT ALL</button>
                <button (click)="deselectAll(nameSelect)" mat-button>DESELECT ALL</button>
            </mat-option>
            <mat-option *ngFor="let name of names" [value]="name"> {{ name }} </mat-option>
        </mat-select>
    </mat-form-field>
</div>
