<mat-form-field style="width: 100%">
    <mat-label>{{ data.field?.name || data.type | keyTitle | titlecase }}</mat-label>
    <mat-select [(value)]="selected" [required]="data.field?.option === 'required'">
        <mat-option *ngIf="data.field?.option === 'optional'">None</mat-option>
        <mat-option *ngFor="let field of data.ast" [value]="field">{{ field.name }}</mat-option>
    </mat-select>
</mat-form-field>
<cc-metadata-form
    *ngIf="selected"
    [metadata]="data.metadata"
    [namespace]="data.namespace"
    [type]="selected.type"
    [field]="selected"
    [parent]="data"
></cc-metadata-form>
