<ng-container *ngIf="metadata && namespace && type">
    <mat-form-field style="width: 100%">
        <mat-label *ngIf="field">{{ field?.name | keyTitle | titlecase }}</mat-label>
        <mat-select [(value)]="selected">
            <mat-option *ngIf="field?.option === 'optional'">None</mat-option>
            <mat-option *ngFor="let field of fields" [value]="field">{{ field.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-metadata-form
        *ngIf="selected"
        [metadata]="metadata"
        [namespace]="namespace"
        [type]="selected.type"
        [field]="selected"
    ></cc-metadata-form>
</ng-container>
