<div gdColumns="1fr" gdGap="16px">
    <mat-form-field style="width: 100%">
        <mat-label>
            <cc-field-label [field]="data.field" [type]="data.type"> </cc-field-label>
        </mat-label>
        <mat-select
            (ngModelChange)="cleanInternal()"
            [formControl]="fieldControl"
            [required]="data.isRequired"
        >
            <mat-option *ngFor="let field of data.ast" [value]="field">
                <cc-field-label [field]="field" [type]="field.type"></cc-field-label>
            </mat-option>
        </mat-select>
        <button
            *ngIf="fieldControl.value && data.isRequired"
            (click)="fieldControl.reset(); $event.stopPropagation()"
            mat-icon-button
            matSuffix
        >
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <cc-metadata-form
        *ngIf="fieldControl.value"
        [extensions]="data.extensions"
        [field]="fieldControl.value"
        [formControl]="internalControl"
        [metadata]="data.metadata"
        [namespace]="data.namespace"
        [parent]="data"
        [type]="fieldControl.value.type"
    ></cc-metadata-form>
</div>
