
@switch (step) {
  @case (stepEnum.Edit) {
    <v-dialog [progress]="!!isLoading()" title="Edit domain object">
      <cc-domain-thrift-form
        [defaultValue]="(currentObject() | ngtUnionValue)?.data"
        [formControl]="control"
        [kind]="kind.value()"
        [type]="dataType$ | async"
        (kindChange)="kind.set($event)"
      ></cc-domain-thrift-form>
      <v-dialog-actions
        ><ng-container *ngTemplateOutlet="actions"></ng-container
      ></v-dialog-actions>
    </v-dialog>
  }
  @case (stepEnum.Review) {
    <v-dialog
      [progress]="!!isLoading()"
      title="Review domain object"
      >
      <cc-domain-thrift-viewer
        [compared]="(newObject$ | async | ngtUnionValue)?.data"
        [type]="dataType$ | async"
        [value]="(currentObject() | ngtUnionValue)?.data"
        kind="editor"
      ></cc-domain-thrift-viewer>
      <v-dialog-actions
        ><ng-container *ngTemplateOutlet="actions"></ng-container
      ></v-dialog-actions>
    </v-dialog>
  }
  @case (stepEnum.SourceReview) {
    <v-dialog
      [progress]="!!isLoading()"
      title="Changes from the server"
      >
      <cc-domain-thrift-viewer
        [compared]="(currentObject() | ngtUnionValue)?.data"
        [type]="dataType$ | async"
        [value]="(dialogData.domainObject.object | ngtUnionValue)?.data"
        kind="editor"
      ></cc-domain-thrift-viewer>
      <v-dialog-actions
        ><ng-container *ngTemplateOutlet="actions"></ng-container
      ></v-dialog-actions>
    </v-dialog>
  }
}

<ng-template #actions>
  @if (step !== stepEnum.Edit) {
    <button
      [disabled]="!!isLoading()"
      mat-button
      (click)="step = stepEnum.Edit"
      >
      Edit
    </button>
  }
  @if (hasConflict() && step !== stepEnum.SourceReview) {
    <button
      [disabled]="!!isLoading()"
      mat-flat-button
      (click)="step = stepEnum.SourceReview"
      >
      Review server changes
    </button>
  }
  @if (step !== stepEnum.Review) {
    <button
      [disabled]="control.invalid || !!isLoading() || !(hasChanges$ | async)"
      mat-flat-button
      (click)="step = stepEnum.Review"
      >
      Review
    </button>
  }
  @if (step === stepEnum.Review) {
    <button
      [disabled]="!!isLoading()"
      mat-flat-button
      (click)="update()"
      >
      Update
    </button>
  }
</ng-template>
