<div [formGroup]="form" gdGap="16px" gdColumns="1fr 1fr 1fr 1fr">
    <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate matInput formControlName="fromTime" placeholder="Start Date" />
            <input matEndDate matInput formControlName="toTime" placeholder="End Date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Payout ID" formControlName="payoutId" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Payout Status">
            <mat-option>Test</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Payout Tool Type">
            <mat-option>Test</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-merchant-field formControlName="merchant"></cc-merchant-field>
    <mat-form-field gdColumn="auto/span 3">
        <mat-label>Shops</mat-label>
        <mat-select multiple formControlName="shops" [disabled]="!form.value.merchant">
            <mat-option *ngFor="let shop of shops$ | async" [value]="shop.id">
                {{ shop.details.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
