<div [formGroup]="control" gdGap="16px" gdColumns="1fr 1fr 1fr 1fr">
    <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate matInput formControlName="fromTime" placeholder="Start Date" />
            <input matEndDate matInput formControlName="toTime" placeholder="End Date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Payout ID" formControlName="payoutId" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
        <mat-select multiple formControlName="payoutStatuses" placeholder="Payout Status">
            <mat-option *ngFor="let status of statuses" [value]="status">
                {{ status }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="payoutType" placeholder="Payout Tool Type">
            <mat-option [value]="null">any</mat-option>
            <mat-option *ngFor="let type of types" [value]="payoutToolType[type]">
                {{ type }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <cc-merchant-field formControlName="partyId"></cc-merchant-field>
    <mat-form-field gdColumn="auto/span 3">
        <mat-label>Shops</mat-label>
        <mat-select multiple formControlName="shops" [disabled]="!control.value.partyId">
            <mat-option *ngFor="let shop of shops$ | async" [value]="shop.id">
                {{ shop.details.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
