<cc-timeline-item>
    <cc-timeline-item-badge [color]="color">
        <mat-icon>{{ icon ?? 'add' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-title>
        <cc-timeline-item-header
            [createdAt]="modificationUnit.created_at"
            [removed]="!!modificationUnit.removed_at"
            [text]="title ?? 'added ' + (modificationUnit.modification | ccUnionKey | keyTitle)"
            [username]="modificationUnit.user_info.username"
        ></cc-timeline-item-header>
        <div>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    *ngIf="isChangeable"
                    [disabled]="isLoading$ | async"
                    mat-menu-item
                    (click)="update()"
                >
                    Update
                </button>
                <button [disabled]="isLoading$ | async" mat-menu-item (click)="remove()">
                    Remove
                </button>
            </mat-menu>
        </div>
    </cc-timeline-item-title>
    <cc-timeline-item-content *ngIf="hasModificationContent">
        <cc-timeline-item-loading *ngIf="isLoading; else loaded"></cc-timeline-item-loading>
        <ng-template #loaded>
            <div #content><ng-content></ng-content></div>
            <mat-expansion-panel *ngIf="!content.innerHTML.trim().length">
                <mat-expansion-panel-header>
                    {{ name | keyTitle | titlecase }}
                </mat-expansion-panel-header>
                <cc-json-viewer [json]="modification" [patches]="patches"></cc-json-viewer>
            </mat-expansion-panel>
        </ng-template>
    </cc-timeline-item-content>
</cc-timeline-item>
