<v-thrift-editor
    [(kind)]="kind"
    [defaultValue]="defaultValue"
    [extensions]="extensions$ | async"
    [formControl]="control"
    [metadata]="metadata$ | async"
    [namespace]="namespace ?? defaultNamespace"
    [noToolbar]="noToolbar"
    [type]="type"
></v-thrift-editor>

<ng-template #oneAccountFieldTemplate let-accountControl="control">
    <cc-account-field [formControl]="accountControl"></cc-account-field>
</ng-template>
<ng-template #twoAccountFieldTemplate let-accountControl="control">
    <cc-account-field [accountsNumber]="2" [formControl]="accountControl"></cc-account-field>
</ng-template>
<ng-template #systemAccountsFieldTemplate let-accountControl="control">
    <cc-system-accounts-field [formControl]="accountControl"></cc-system-accounts-field>
</ng-template>
