<div>
    <div gdColumns="1fr 1fr" gdGap="24px">
        <cc-select
            [formControl]="typesControl"
            [options]="options$ | async"
            label="Object types"
            multiple
        ></cc-select>
        <mat-form-field>
            <mat-label>RegExp patter</mat-label>
            <input [formControl]="searchControl" matInput />
        </mat-form-field>
    </div>
    <mat-card>
        <mat-card-content>
            <div class="table-wrapper">
                <table
                    [dataSource]="dataSource$ | async"
                    mat-table
                    matSort
                    matSortActive="ref"
                    matSortDirection="asc"
                    matSortDisableClear
                >
                    <ng-container [matColumnDef]="cols.def.type" sticky>
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                        <td *matCellDef="let c" mat-cell>{{ c.type }}</td>
                    </ng-container>
                    <ng-container [matColumnDef]="cols.def.ref">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Ref</th>
                        <td *matCellDef="let c" class="json-cell" mat-cell>
                            <cc-pretty-json [object]="c.ref | ccUnionValue" inline></cc-pretty-json>
                        </td>
                    </ng-container>
                    <ng-container [matColumnDef]="cols.def.obj">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Object</th>
                        <td *matCellDef="let c" class="json-cell" mat-cell>
                            <cc-pretty-json
                                [object]="(c.obj | ccUnionValue)?.data"
                                inline
                            ></cc-pretty-json>
                        </td>
                    </ng-container>
                    <ng-container [matColumnDef]="cols.def.actions" stickyEnd>
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let c" mat-cell style="width: 0">
                            <button mat-icon-button (click)="openDetails(c)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <cc-no-data-row></cc-no-data-row>
                    <tr *matHeaderRowDef="cols.list; sticky: true" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: cols.list" mat-row></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[25, 100]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
