<div class="editor-container">
    <mat-card *ngIf="initialized">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-card-title>Review changes of {{ objectType }}</mat-card-title>
            <div>
                <mat-checkbox
                    (change)="renderSideBySide($event)"
                    [checked]="options.renderSideBySide"
                    >Side by side</mat-checkbox
                >
            </div>
        </mat-card-header>
        <mat-card-content>
            <cc-monaco-diff-editor
                [modified]="modified"
                [options]="options"
                [original]="original"
                class="editor"
            ></cc-monaco-diff-editor>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button (click)="back()" mat-button>
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    BACK TO EDIT
                </button>
                <button (click)="commit()" [disabled]="isLoading" color="primary" mat-button>
                    COMMIT
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
