<cc-page-layout title="Terminals">
    <cc-page-layout-actions></cc-page-layout-actions>
    <v-input-field [formControl]="searchControl" label="Search"></v-input-field>
    <v-table
        [(sort)]="sort"
        [columns]="columns"
        [data]="data$ | async"
        [progress]="progress$ | async"
        size="100"
        sortOnFront
        (update)="update()"
    >
        <v-table-actions>
            <button color="primary" mat-raised-button (click)="create()">Create</button>
        </v-table-actions>
    </v-table>
</cc-page-layout>
