<form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
    <h1 class="mat-headline">Create deposit</h1>
    <mat-dialog-content fxLayout="column" fxLayoutGap="16px">
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <input formControlName="destination" matInput placeholder="Destination" required />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    formControlName="amount"
                    matInput
                    placeholder="Amount"
                    required
                    type="number"
                />
            </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency" required>
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{ currency.currency }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex></div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout fxLayoutAlign="space-between">
        <button [disabled]="isLoading$ | async" mat-button (click)="closeDialog()">CANCEL</button>
        <button
            *ngIf="hasNecessaryRole()"
            [disabled]="(isLoading$ | async) || form.invalid"
            color="primary"
            mat-button
            (click)="createDeposit()"
        >
            CREATE
        </button>
        <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    </mat-dialog-actions>
</form>
