<cc-page-layout [progress]="organization.isLoading()" fullHeight title="Members">
    <cc-page-layout-actions>
        @if (organization.value()) {
            <button mat-flat-button (click)="addMember()">Add member</button>
        }
    </cc-page-layout-actions>

    @if (organization.value()) {
        <v-table-resource [columns]="columns" [resource]="members" standaloneFilter />
    } @else if (organizationNotFound()) {
        <div class="flex flex-col items-center justify-center gap-4 h-full pb-24">
            <p class="mat-body-large text-[var(--mat-sys-on-surface-variant)]">
                Organization not created
            </p>
            <button mat-flat-button (click)="createOrganization()">Create organization</button>
        </div>
    }
</cc-page-layout>
