<div fxLayout fxLayoutAlign="space-between">
    <mat-form-field fxFlex>
        <input
            matInput
            placeholder="Filter"
            type="text"
            (keyup)="applyFilter($event.target.value)"
        />
    </mat-form-field>
</div>
<table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row" mat-cell>
            <mat-checkbox
                [checked]="selection.isSelected(row)"
                (change)="$event ? selection.toggle(row) : null"
                (click)="$event.stopPropagation()"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th *matHeaderCellDef class="th" mat-header-cell>ID</th>
        <td *matCellDef="let provider" class="td" mat-cell>{{ provider.ref.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="th" mat-header-cell>Name</th>
        <td *matCellDef="let provider" class="td" mat-cell>{{ provider.data.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th *matHeaderCellDef class="th" mat-header-cell>Description</th>
        <td *matCellDef="let provider" class="td" mat-cell>{{ provider.data.description }}</td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
        *matRowDef="let row; columns: displayedColumns"
        mat-row
        (click)="selection.toggle(row)"
    ></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
