<div gdColumns="1fr" gdGap="16px">
    <span *ngIf="hasLabel" class="cc-body-1">
        {{ data.type | fieldLabel: data.field }} ({{ data.type.name | titlecase }})
    </span>
    <mat-accordion [ngStyle]="{ 'padding-left': hasLabel && '16px' }">
        <mat-expansion-panel
            *ngFor="let valueControl of valueControls.controls; let i = index"
            class="mat-elevation-z0"
        >
            <mat-expansion-panel-header>
                <mat-panel-title fxLayoutAlign=" center">
                    {{ i + 1 }}.
                    {{ hasKeys ? (keyType | valueTypeTitle | titlecase) + ' - ' : '' }}
                    {{ data.type.valueType | valueTypeTitle | titlecase }}
                </mat-panel-title>
                <mat-panel-description fxLayoutAlign="end">
                    <button mat-icon-button (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div gdColumns="1fr" gdGap="16px">
                <ng-container *ngIf="hasKeys">
                    <span class="cc-body-2">Key</span>
                    <cc-metadata-form
                        [extensions]="data.extensions"
                        [formControl]="keyControls.controls[i]"
                        [metadata]="data.metadata"
                        [namespace]="data.namespace"
                        [parent]="data"
                        [type]="keyType"
                    ></cc-metadata-form>
                </ng-container>
                <span *ngIf="data.type.name === 'map'" class="cc-body-2">Value</span>
                <cc-metadata-form
                    [extensions]="data.extensions"
                    [formControl]="valueControl"
                    [metadata]="data.metadata"
                    [namespace]="data.namespace"
                    [parent]="data"
                    [type]="data.type.valueType"
                ></cc-metadata-form>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-button (click)="add()">
        ADD {{ data.type.valueType | valueTypeTitle | uppercase }}
    </button>
</div>
