<cc-base-dialog
    [inProgress]="isLoading$ | async"
    [title]="isUpdate ? 'Update modification unit' : 'Add party modification unit '"
>
    <cc-modification-form
        [claim]="dialogData.claim"
        [formControl]="control"
        [party]="dialogData.party"
        [type]="isUpdate ? 'PartyModificationChange' : 'PartyModification'"
    ></cc-modification-form>
    <cc-base-dialog-actions>
        <button
            [disabled]="control.invalid || (isLoading$ | async)"
            color="primary"
            mat-raised-button
            (click)="isUpdate ? update() : add()"
        >
            {{ isUpdate ? 'UPDATE' : 'ADD' }}
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
