<div fxLayout="column" fxLayoutGap="32px">
    <div fxLayout fxLayoutAlign="space-between">
        <h1 class="cc-display-1">Currencies Sources</h1>
        <!--        <cc-actions>-->
        <!--            <button color="primary" mat-raised-button (click)="create()">CREATE</button>-->
        <!--        </cc-actions>-->
    </div>
    <div fxLayout="column" fxLayoutGap="24px">
        <cc-empty-search-result *ngIf="!(sources$ | async)?.length"></cc-empty-search-result>
        <mat-card *ngIf="(sources$ | async)?.length" fxLayout="column" fxLayoutGap="18px">
            <table [dataSource]="sources$ | async" mat-table>
                <ng-container [matColumnDef]="cols.def.id">
                    <th *matHeaderCellDef mat-header-cell>ID</th>
                    <td *matCellDef="let i" mat-cell>{{ i.id }}</td>
                </ng-container>
                <ng-container [matColumnDef]="cols.def.currency_symbolic_code">
                    <th *matHeaderCellDef mat-header-cell>Currency symbolic code</th>
                    <td *matCellDef="let i" mat-cell>{{ i.currency_symbolic_code }}</td>
                </ng-container>
                <tr *matHeaderRowDef="cols.list" mat-header-row></tr>
                <tr *matRowDef="let row; columns: cols.list" mat-row></tr>
            </table>

            <cc-show-more-button
                *ngIf="hasMore$ | async"
                [inProgress]="inProgress$ | async"
                (fetchMore)="fetchMore()"
            ></cc-show-more-button>
        </mat-card>
    </div>
</div>
