<div [formGroup]="optionsForm" style="display: flex; flex-direction: column; gap: 16px">
  <mat-checkbox formControlName="hasHeader">CSV with header</mat-checkbox>

  <v-file-upload [extensions]="['csv']" (upload)="loadFile($event)"></v-file-upload>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Format</mat-panel-title>
      </mat-expansion-panel-header>
      <v-input-field
        formControlName="delimiter"
        hintText="automatically detected if not specified"
        label="Separator"
        placeholder="auto"
        />
      <p class="mat-body-large">
        Header for CSV file (or if without it, then the order should be like this):
      </p>
      <p class="mat-body-large">
        @let delimiter = delimiter$ | async;

        @if (props().required) {
          <code
            style="word-wrap: break-word; word-break: break-word; font-weight: bold"
            >{{ props().required?.join(delimiter) }}</code
            >
            }@if (props().optional) {
            <code
              style="word-wrap: break-word; word-break: break-word; font-style: italic"
              >{{ props().required && props().optional ? delimiter : '' }}</code
              >
              }@if (props().optional) {
              <code
                style="word-wrap: break-word; word-break: break-word; font-style: italic"
                >{{ props().optional?.join(delimiter) }}</code
                >
              }
            </p>
            <ul class="mat-body-large">
              <li>Required columns are indicated in bold.</li>
              <li>
                Separator:
                {{
                optionsForm.value.delimiter
                ? '"' + delimiter + '"'
                : 'automatically detected'
                }}.
              </li>
              @for (desc of formatDescription() || []; track desc) {
                <li>{{ desc }}</li>
              }
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <v-table
          [(rowSelected)]="selectedCsv"
          [columns]="columns()"
          [data]="data$ | async"
          noDownload
          rowSelectable
        ></v-table>
      </div>
