.expansion-panel {
    ::ng-deep .mat-expansion-panel-body {
        padding: 0 !important;
    }

    .panel-title {
        display: grid;
        overflow: hidden;
        flex: 100;
        gap: 16px;

        & > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

mat-expansion-panel-header {
    padding: 0 2px 0 0;
    background: #fff !important;
}
