<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-select
        [disabled]="disabled"
        [required]="required"
        [value]="selected$ | async"
        (selectionChange)="select($event.value)"
    >
        <mat-option>
            <ngx-mat-select-search
                [formControl]="selectSearchControl"
                noEntriesFoundLabel="No entries found"
                placeholderLabel="Search..."
            >
                <mat-icon *ngIf="svgIcon" [svgIcon]="svgIcon" ngxMatSelectSearchClear></mat-icon>
            </ngx-mat-select-search>
        </mat-option>
        <ng-container *ngIf="!progress; else progressBar">
            <mat-option
                *ngFor="let option of isExternalSearch ? options : (filteredOptions$ | async)"
                [value]="option.value"
            >
                <div class="label">{{ option.label }}</div>
                <div *ngIf="option.description" class="mat-caption mat-secondary-text">
                    {{ option.description }}
                </div>
            </mat-option>
            <mat-option
                *ngIf="
                    !(isExternalSearch ? options : (filteredOptions$ | async))?.length &&
                    !selectSearchControl.value &&
                    cachedOption?.value &&
                    (selected$ | async) === cachedOption?.value
                "
                [value]="cachedOption.value"
            >
                <div class="label">{{ cachedOption.label }}</div>
                <div *ngIf="cachedOption.description" class="mat-caption mat-secondary-text">
                    {{ cachedOption.description }}
                </div>
            </mat-option>
        </ng-container>
        <ng-template #progressBar>
            <mat-option disabled fxLayout="column" fxLayoutAlign="center none">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-option>
        </ng-template>
    </mat-select>
    <button *ngIf="selected$ | async" mat-icon-button matSuffix (click)="clear($event)">
        <mat-icon *ngIf="!options?.length; else clearIcon">sync</mat-icon>
        <ng-template #clearIcon>
            <ng-container *ngIf="svgIcon; else defaultIcon">
                <mat-icon [svgIcon]="svgIcon"></mat-icon>
            </ng-container>
            <ng-template #defaultIcon><mat-icon>close</mat-icon></ng-template>
        </ng-template>
    </button>
</mat-form-field>
