<div fxLayout="column" fxLayoutGap="24px">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <h1 class="cc-headline">Payouts</h1>
        <div><button mat-button (click)="create()">CREATE</button></div>
    </div>
    <mat-card>
        <mat-card-content>
            <cc-payouts-search-form [formControl]="control"></cc-payouts-search-form>
        </mat-card-content>
        <mat-card-footer *ngIf="inProgress$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <ng-container *ngIf="payouts$ | async as payouts">
        <cc-empty-search-result *ngIf="payouts.length === 0"></cc-empty-search-result>
        <mat-card *ngIf="payouts.length > 0" fxLayout="column" fxLayoutGap="18px">
            <cc-payouts-table [payouts]="payouts"></cc-payouts-table>
            <button
                *ngIf="hasMore$ | async"
                [disabled]="inProgress$ | async"
                fxFlex="100"
                mat-button
                (click)="fetchMore()"
            >
                {{ (inProgress$ | async) ? 'LOADING...' : 'SHOW MORE' }}
            </button>
        </mat-card>
    </ng-container>
</div>
