<cc-page-layout title="Payouts">
    <cc-page-layout-actions></cc-page-layout-actions>
    <mat-card>
        <mat-card-content>
            <cc-payouts-search-form [formControl]="control"></cc-payouts-search-form>
        </mat-card-content>
    </mat-card>
    <v-table
        [columns]="columns"
        [data]="payouts$ | async"
        [hasMore]="hasMore$ | async"
        [progress]="inProgress$ | async"
        (more)="fetchMore()"
    >
        <v-table-actions>
            <button color="primary" mat-raised-button (click)="create()">Create</button>
        </v-table-actions>
    </v-table>
</cc-page-layout>
