<table *ngIf="cols" [dataSource]="payments" mat-table>
    <cc-select-column
        [dataSource]="payments"
        sticky
        (changed)="selection = $event; selected$.emit($event)"
    ></cc-select-column>

    <ng-container matColumnDef="revision">
        <th *matHeaderCellDef mat-header-cell>Revision</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.domain_revision }}
        </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell>Amount</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.amount | ccFormatAmount }}
            {{ payment.currency_symbolic_code | ccCurrency }}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let payment" mat-cell>
            <cc-status [color]="payment.status | toStatus | toPaymentColor">{{
                payment.status | toStatus
            }}</cc-status>
        </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef mat-header-cell>Created At</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.created_at | date : 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="shop">
        <th *matHeaderCellDef mat-header-cell>Shop</th>
        <td *matCellDef="let payment" mat-cell>
            <div>{{ payment.shop_id | shopName : payment.owner_id }}</div>
            <div class="mat-caption mat-secondary-text">{{ payment.shop_id }}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="party">
        <th *matHeaderCellDef mat-header-cell>Party</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.owner_id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="invoice">
        <th *matHeaderCellDef mat-header-cell>Invoice</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.invoice_id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="terminal_id">
        <th *matHeaderCellDef mat-header-cell>Terminal</th>
        <td *matCellDef="let payment" mat-cell>
            {{ payment.terminal_id.id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let payment" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    *ngFor="let action of paymentActions"
                    mat-menu-item
                    (click)="
                        menuItemSelected(action, payment.id, payment.invoice_id, payment.owner_id)
                    "
                >
                    {{ action | ccPaymentActions }}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="cols.list; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: cols.list" mat-row></tr>
</table>
