<h4 class="mat-dialog-title">
    Payment adjustment{{ payments.length === 1 ? '' : 's' }} for {{ payments.length }} payment{{
        payments.length === 1 ? '' : 's'
    }}
</h4>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="20px">
        <div>
            <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div class="mat-subheading-2" fxFlex="10">Scenario:</div>
                    <mat-radio-group
                        fxFlex="50"
                        fxLayout
                        fxLayoutAlign="space-between center"
                        (change)="onScenarioChange($event)"
                    >
                        <mat-radio-button
                            [checked]="activeScenario === 'cash_flow'"
                            fxFlex
                            value="cash_flow"
                        >
                            Domain revision
                        </mat-radio-button>
                        <mat-radio-button
                            [checked]="activeScenario === 'status_change'"
                            fxFlex
                            value="status_change"
                        >
                            Status change
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field *ngIf="activeScenario === 'cash_flow'" fxFlex="20">
                        <input
                            formControlName="cash_flow"
                            matInput
                            placeholder="Domain revision"
                            required
                            type="number"
                        />
                    </mat-form-field>
                    <mat-form-field *ngIf="activeScenario === 'status_change'" fxFlex="20">
                        <mat-select
                            formControlName="status_change"
                            placeholder="Payment status"
                            required
                            type="number"
                        >
                            <mat-option *ngFor="let status of statuses" [value]="status">{{
                                status
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="90">
                        <input formControlName="reason" matInput placeholder="Reason" required />
                    </mat-form-field>
                </div>
                <div
                    *ngIf="
                        activeScenario === 'status_change' && form.value?.status_change === 'failed'
                    "
                    fxLayout="row"
                >
                    <mat-form-field fxFlex="100">
                        <mat-select
                            formControlName="failure_code"
                            placeholder="Failure code"
                            required
                            type="string"
                        >
                            <mat-option
                                *ngFor="let failureCode of failureCodes"
                                [value]="failureCode"
                                >{{ failureCode }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <div>
                <button
                    [disabled]="createStarted || !form.valid"
                    color="primary"
                    mat-raised-button
                    (click)="create()"
                >
                    CREATE
                </button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="20px">
            <cc-create-actions [isLoading]="isLoading"></cc-create-actions>
            <cc-cancel-actions
                [adjustmentParams]="adjustmentParams"
                [isLoading]="isLoading"
            ></cc-cancel-actions>
            <cc-capture-actions [isLoading]="isLoading"></cc-capture-actions>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="isLoading" [mat-dialog-close]="false" mat-button>CLOSE</button>
    <mat-progress-bar
        *ngIf="isLoading"
        [value]="progress$ | async"
        mode="determinate"
    ></mat-progress-bar>
</mat-dialog-actions>
