<div gdColumns="1fr" gdGap="16px" style="padding-left: 16px">
    <div *ngIf="hasLabel" class="cc-body-1">
        {{ data.field?.name | keyTitle | titlecase }}
    </div>
    <cc-metadata-form
        *ngFor="let field of data.ast"
        [formControl]="control.get(field.name)"
        [metadata]="data.metadata"
        [namespace]="data.namespace"
        [type]="field.type"
        [field]="field"
        [parent]="data"
        [extensions]="data.extensions"
    ></cc-metadata-form>
</div>
