<div gdColumns="1fr" gdGap="16px">
    <ng-container *ngIf="hasLabel">
        <mat-checkbox *ngIf="!labelControl.disabled; else label" [formControl]="labelControl">
            <ng-container [ngTemplateOutlet]="label"></ng-container>
        </mat-checkbox>
        <ng-template #label>
            <cc-field-label
                [field]="data.field"
                [type]="data.type"
                class="cc-body-1"
            ></cc-field-label>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="labelControl.value">
        <cc-metadata-form
            *ngFor="let field of data.ast"
            [extensions]="data.extensions"
            [field]="field"
            [formControl]="control.get(field.name)"
            [metadata]="data.metadata"
            [namespace]="data.namespace"
            [ngStyle]="{ 'padding-left': hasLabel && '16px' }"
            [parent]="data"
            [type]="field.type"
        ></cc-metadata-form>
    </ng-container>
</div>
