<v-dialog [progress]="progress$ | async" title="Create deposit">
    <cc-fistful-thrift-form
        [defaultValue]="getDefaultValue()"
        [extensions]="extensions"
        [formControl]="control"
        namespace="deposit"
        noToolbar
        type="DepositParams"
    ></cc-fistful-thrift-form>
    <v-dialog-actions>
        <button [disabled]="(progress$ | async) || control.invalid" mat-button (click)="create()">
            Create
        </button>
    </v-dialog-actions>
</v-dialog>

<ng-template #sourceCashTemplate let-cashControl="control">
    <cc-source-cash-field [formControl]="cashControl"></cc-source-cash-field>
</ng-template>
