<cc-page-layout title="Withdrawals">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters #filters [active]="active" merge (clear)="filtersForm.reset()">
        <ng-template [formGroup]="filtersForm">
            <cc-merchant-field formControlName="merchant"></cc-merchant-field>
            <v-date-range-field formControlName="dateRange"></v-date-range-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="null">any</mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ status }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <v-list-field formControlName="withdrawalIds" label="Withdrawal IDs"></v-list-field>
            <mat-form-field>
                <mat-label>Wallet ID</mat-label>
                <input formControlName="walletId" matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Amount from</mat-label>
                <input formControlName="amountFrom" matInput type="number" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Amount to</mat-label>
                <input formControlName="amountTo" matInput type="number" />
            </mat-form-field>
        </ng-template>
    </v-filters>

    <v-table
        [(rowSelected)]="selected"
        [columns]="columns"
        [data]="withdrawals$ | async"
        [hasMore]="hasMore$ | async"
        [progress]="inProgress$ | async"
        rowSelectable
        (more)="more()"
        (update)="update($event)"
    >
        <v-table-actions>
            <button
                [disabled]="!selected?.length"
                color="primary"
                mat-raised-button
                (click)="failMachines()"
            >
                Fail machines
            </button>
            <button
                [disabled]="!selected?.length"
                color="primary"
                mat-raised-button
                (click)="adjustment()"
            >
                Create adjustments
            </button>
        </v-table-actions>
    </v-table>
</cc-page-layout>
