<div fxLayout="column" fxLayoutGap="32px">
    <h1 class="cc-display-1">Withdrawals</h1>
    <div fxLayout="column" fxLayoutGap="24px">
        <mat-card>
            <mat-card-content [formGroup]="filters" gdColumns="1fr 1fr 1fr" gdGap="16px">
                <cc-merchant-field formControlName="merchant"></cc-merchant-field>
                <cc-date-range formControlName="dateRange"></cc-date-range>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="null">any</mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status">
                            {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Withdrawal ID</mat-label>
                    <input formControlName="withdrawalId" matInput />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Amount from</mat-label>
                    <input formControlName="amountFrom" matInput type="number" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Amount to</mat-label>
                    <input formControlName="amountTo" matInput type="number" />
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer *ngIf="inProgress$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        <ng-container *ngIf="!(inProgress$ | async) || (withdrawals$ | async)">
            <div fxLayoutAlign="end">
                <button
                    mat-button
                    color="primary"
                    [disabled]="!selection?.selected?.length"
                    (click)="adjustment()"
                >
                    CREATE ADJUSTMENT
                </button>
            </div>

            <cc-empty-search-result *ngIf="!(withdrawals$ | async).length"></cc-empty-search-result>
            <mat-card *ngIf="(withdrawals$ | async).length" fxLayout="column" fxLayoutGap="18px">
                <table mat-table [dataSource]="withdrawals$ | async">
                    <cc-select-column
                        [dataSource]="withdrawals$ | async"
                        (changed)="selection = $event"
                    ></cc-select-column>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let w">{{ w.id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef>Created at</th>
                        <td mat-cell *matCellDef="let w">
                            {{ w.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="identityId">
                        <th mat-header-cell *matHeaderCellDef>Identity ID</th>
                        <td mat-cell *matCellDef="let w">{{ w.identity_id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sourceId">
                        <th mat-header-cell *matHeaderCellDef>Source ID</th>
                        <td mat-cell *matCellDef="let w">{{ w.source_id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="destinationId">
                        <th mat-header-cell *matHeaderCellDef>Destination ID</th>
                        <td mat-cell *matCellDef="let w">{{ w.destination_id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="externalId">
                        <th mat-header-cell *matHeaderCellDef>External ID</th>
                        <td mat-cell *matCellDef="let w">{{ w.external_id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let w">
                            {{
                                w.amount / 100 | currency: w.currency_symbolic_code:'symbol-narrow'
                            }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fee">
                        <th mat-header-cell *matHeaderCellDef>Fee</th>
                        <td mat-cell *matCellDef="let w">
                            {{ w.fee / 100 | currency: w.currency_symbolic_code:'symbol-narrow' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let w">{{ w.status | ccUnionKey }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <cc-show-more-button
                    *ngIf="hasMore$ | async"
                    [inProgress]="inProgress$ | async"
                    (fetchMore)="fetchMore()"
                ></cc-show-more-button>
            </mat-card>
        </ng-container>
    </div>
</div>
