<ng-container *ngIf="data; else init">
    <mat-card *ngIf="data.length; else empty" class="table-card">
        <table [dataSource]="data" mat-table>
            <ng-container *ngFor="let p of schema.renderedParams" [matColumnDef]="p.def">
                <th *matHeaderCellDef mat-header-cell>{{ p.label }}</th>
                <td *matCellDef="let i" mat-cell>
                    {{
                        p.type === 'datetime'
                            ? (p.value(i) | date : 'dd.MM.yyyy HH:mm:ss')
                            : p.value(i)
                    }}
                </td>
            </ng-container>
            <tr *matHeaderRowDef="schema.list" mat-header-row></tr>
            <tr *matRowDef="let row; columns: schema.list" mat-row></tr>
        </table>

        <cc-show-more-button
            *ngIf="hasMore"
            [inProgress]="inProgress"
            class="show-more"
            (fetchMore)="fetchMore.emit()"
        ></cc-show-more-button>
    </mat-card>

    <ng-template #empty><cc-empty-search-result></cc-empty-search-result></ng-template>
</ng-container>

<ng-template #init>
    <div *ngIf="inProgress" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
