<ng-container [matColumnDef]="name">
    <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
    </th>
    <td *matCellDef="let row" mat-cell>
        <mat-checkbox
            (change)="$event ? selection.toggle(row) : null"
            (click)="$event.stopPropagation()"
            [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
    </td>
</ng-container>
