<cc-base-dialog [inProgress]="inProgress$ | async" title="Change claim status">
    <div [formGroup]="form" gdColumns="1fr" gdGap="16px">
        <mat-form-field>
            <mat-select
                [disabled]="inProgress$ | async"
                formControlName="status"
                placeholder="Status"
            >
                <mat-option *ngFor="let status of statuses" [value]="status">{{
                    status | keyTitle | titlecase
                }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="form.value.status === 'denied'">
            <input
                [disabled]="inProgress$ | async"
                aria-label="reason"
                formControlName="denyReason"
                matInput
                placeholder="Reason"
                required
            />
        </mat-form-field>
        <mat-form-field *ngIf="form.value.status === 'revoked'">
            <mat-label>Reason</mat-label>
            <mat-select [disabled]="inProgress$ | async" formControlName="revokeReason" required>
                <!-- TODO: It's necessary to hardcode reasons (backend issue) -->
                <mat-option
                    *ngFor="
                        let reason of [
                            'Длительное ожидание подключения',
                            'Не устраивает комиссия',
                            'Большой пакет документов',
                            'Не подходит продукт',
                            'Нет сплитов'
                        ]
                    "
                    [value]="reason"
                >
                    {{ reason }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <cc-base-dialog-actions>
        <button
            [disabled]="form.invalid || (inProgress$ | async)"
            color="primary"
            mat-raised-button
            (click)="confirm()"
        >
            CONFIRM
        </button>
    </cc-base-dialog-actions>
</cc-base-dialog>
