<table [dataSource]="claims" mat-table>
    <ng-container matColumnDef="claimID">
        <th *matHeaderCellDef fxHide.sm fxHide.xs mat-header-cell>Claim ID</th>
        <td *matCellDef="let claim" fxHide.sm fxHide.xs mat-cell>{{ claim.id }}</td>
    </ng-container>
    <ng-container matColumnDef="party">
        <th *matHeaderCellDef mat-header-cell>Party</th>
        <td *matCellDef="let claim" mat-cell>
            <div>{{ claim | ccClaimMail }}</div>
            <div class="mat-caption party-id">{{ claim.party_id }}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let claim" mat-cell>
            {{ claim.status | ccClaimStatusThrift | ccClaimStatus }}
        </td>
    </ng-container>
    <ng-container matColumnDef="revision">
        <th *matHeaderCellDef mat-header-cell>Revision</th>
        <td *matCellDef="let claim" mat-cell>
            {{ claim.revision }}
        </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
        <th *matHeaderCellDef fxHide.sm fxHide.xs mat-header-cell>Updated At</th>
        <td *matCellDef="let claim" fxHide.sm fxHide.xs mat-cell>
            {{ claim.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef fxHide.sm fxHide.xs mat-header-cell>Created At</th>
        <td *matCellDef="let claim" fxHide.sm fxHide.xs mat-cell>
            {{ claim.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-cell" mat-header-cell></th>
        <td *matCellDef="let claim" class="action-cell" mat-cell>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigateToClaim(claim.party_id, claim.id)">
                    Details
                </button>
                <button mat-menu-item (click)="navigateToNewClaim(claim.party_id, claim.id)">
                    New details
                </button>
                <!-- FR-688 
                    <button mat-menu-item (click)="navigateToClaimDeprecated(claim.party_id, claim.id)">
                    Deprecated details
                </button> -->
                <button mat-menu-item (click)="navigateToPartyClaims(claim.party_id)">
                    Party claims
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let claim; columns: displayedColumns" mat-row></tr>
</table>
