@use '@vality/ng-core' as v;

@mixin cc-status-theme($theme) {
    .cc-status {
        &-success {
            color: v.get-color($theme, success);
        }

        &-pending {
            color: v.get-color($theme, pending);
        }

        &-warn {
            color: v.get-color($theme, warn);
        }
    }
}
