<v-dialog
    [noContent]="!hasNsControl"
    [progress]="progress$ | async"
    title="Fail {{ dialogData.ids.length }} machines"
>
    <v-select-field
        [formControl]="nsControl"
        [options]="nsOptions"
        label="Namespace"
        required
    ></v-select-field>
    <v-dialog-actions>
        <button
            *ngIf="this.errors.length"
            [disabled]="!!(progress$ | async)"
            mat-raised-button
            (click)="closeAndSelectWithAnError()"
        >
            Close and select with an error
        </button>
        <button
            [disabled]="nsControl.invalid || !!(progress$ | async)"
            color="primary"
            mat-raised-button
            (click)="fail()"
        >
            {{ this.errors.length ? 'Repeat for ' + this.errors.length : 'Fail machines' }}
        </button>
    </v-dialog-actions>
</v-dialog>
