<cc-timeline-item>
    <cc-timeline-item-badge [color]="color">
        <mat-icon>{{ icon ?? 'add' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-title>
        <cc-timeline-item-header
            [text]="title ?? 'added ' + (name | keyTitle)"
            [username]="modificationUnit.user_info.username"
            [createdAt]="modificationUnit.created_at"
            [removed]="!!modificationUnit.removed_at"
        ></cc-timeline-item-header>
    </cc-timeline-item-title>
    <cc-timeline-item-content *ngIf="hasModificationContent">
        <div #content><ng-content></ng-content></div>
        <mat-expansion-panel *ngIf="!content.innerHTML.trim().length">
            <mat-expansion-panel-header>
                {{ name | keyTitle | titlecase }}
            </mat-expansion-panel-header>
            <cc-json-viewer [json]="modification" [patches]="patches"></cc-json-viewer>
        </mat-expansion-panel>
    </cc-timeline-item-content>
</cc-timeline-item>
