name: PR
on:
  pull_request:
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: valitydev/action-frontend/setup-install@v2
      - name: Check
        run: npm run check
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      SHORT_SHA: $(echo "${{ github.event.pull_request.head.sha }}" | cut -c1-7)
    steps:
      - uses: actions/checkout@v6
      - uses: valitydev/action-frontend/setup-install@v2
        with:
          npm-install-force: true
      - name: Build
        run: npm run build
      # - name: Publish MatEz Library
      #   if: >
      #     contains(github.event.pull_request.labels.*.name, 'publish')
      #     || contains(github.event.pull_request.labels.*.name, 'publish matez')
      #   working-directory: ./dist/libs/matez
      #   run: >
      #     npm version prerelease --preid pr-${{ github.event.number }}-${{ env.SHORT_SHA }} --no-git-tag-version
      #     && npm publish --tag pr
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # - name: Publish NgThrift Library
      #   if: >
      #     contains(github.event.pull_request.labels.*.name, 'publish')
      #     || contains(github.event.pull_request.labels.*.name, 'publish ng-thrift')
      #   working-directory: ./dist/libs/ng-thrift
      #   run: >
      #     npm version prerelease --preid pr-${{ github.event.number }}-${{ env.SHORT_SHA }} --no-git-tag-version
      #     && npm publish --tag pr
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
