<mat-toolbar *ngIf="tags()?.length" style="height: 48px; padding: 0 24px">
    <div style="display: flex; gap: 8px; align-items: center">
        @for (tag of tags(); track tag) {
            <v-tag [color]="tag.color" style="margin-top: 8px">{{ tag.title }}</v-tag>
        }
    </div>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav-content style="overflow: unset"><ng-content></ng-content></mat-sidenav-content>
    <mat-sidenav
        [fixedTopGap]="64 + 48"
        [opened]="!(sidenavInfoService.opened$ | async)"
        fixedInViewport="true"
        mode="side"
        position="end"
        style="background: transparent; border: none; padding: 24px 0 24px 0"
    >
        <v-nav [links]="links()" type="secondary"></v-nav
    ></mat-sidenav>
</mat-sidenav-container>
