<div class="editor-container">
    <div *ngIf="isLoading" fxLayout fxLayoutAlign="center stretch"><mat-spinner></mat-spinner></div>
    <mat-card *ngIf="initialized">
        <mat-card-header>
            <mat-card-title>Edit {{ model.objectType }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <cc-monaco-editor
                (fileChange)="fileChange($event)"
                [codeLensProviders]="codeLensProviders"
                [completionProviders]="completionProviders"
                [file]="modifiedFile"
                class="editor"
            ></cc-monaco-editor>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-button routerLink="/domain">
                    <mat-icon aria-label="Login">keyboard_arrow_left</mat-icon>
                    BACK TO DOMAIN
                </button>
                <button (click)="resetChanges()" color="warn" mat-button>RESET CHANGES</button>
                <button (click)="reviewChanges()" [disabled]="!valid" mat-button>
                    REVIEW CHANGES
                    <mat-icon aria-label="Login">keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
