<v-dialog [progress]="!!(progress$ | async)" [title]="dialogData?.title || 'View changes'">
    @if (isReview() || !hasReview) {
        <v-thrift-viewer
            [compared]="dialogData.object"
            [value]="dialogData.prevObject"
        ></v-thrift-viewer>
    } @else {
        <v-thrift-viewer
            [compared]="dialogData.reviewObject"
            [value]="dialogData.prevReviewObject"
        ></v-thrift-viewer>
    }

    <v-dialog-actions>
        @if (!isReview() && hasReview) {
            <button [disabled]="!!(progress$ | async)" mat-button (click)="isReview.set(true)">
                Review objects
            </button>
        }
        @if (isReview()) {
            <button
                [disabled]="!!(progress$ | async)"
                mat-flat-button
                (click)="isReview.set(false)"
            >
                Review updates
            </button>
        } @else {
            <button [disabled]="!!(progress$ | async)" mat-flat-button (click)="closeWithSuccess()">
                Update
            </button>
        }
    </v-dialog-actions>
</v-dialog>
