<cc-page-layout fullHeight title="Withdrawals">
    <cc-page-layout-actions>
        <v-more-filters-button [filters]="filters"></v-more-filters-button>
    </cc-page-layout-actions>
    <v-filters #filters [active]="active$ | async" merge (clear)="filtersForm.reset()">
        <ng-template [formGroup]="filtersForm">
            <v-date-range-field formControlName="dateRange"></v-date-range-field>
            <cc-merchant-field formControlName="merchant"></cc-merchant-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="null">any</mat-option>
                    @for (status of statuses; track status) {
                        <mat-option [value]="status">
                            {{ status }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <v-list-field formControlName="withdrawalIds" label="Withdrawal IDs"></v-list-field>
            <cc-wallet-field formControlName="walletId"></cc-wallet-field>
            <v-number-range-field formControlName="amount" label="Amount"></v-number-range-field>
            <v-input-field formControlName="errorMessage" label="Error message"></v-input-field>
            <v-input-field formControlName="terminalId" label="Terminal ID"></v-input-field>
            <v-input-field formControlName="providerId" label="Provider ID"></v-input-field>
        </ng-template>
    </v-filters>

    <div class="flex gap-2">
        <button [disabled]="!selected?.length" mat-flat-button (click)="adjustment()">
            Create adjustments
        </button>
        <button [disabled]="!selected?.length" mat-button (click)="failMachines()">
            Fail machines
        </button>
    </div>

    <v-table
        [(rowSelected)]="selected"
        [columns]="columns"
        [data]="withdrawals$ | async"
        [hasMore]="hasMore$ | async"
        [progress]="inProgress$ | async"
        rowSelectable
        (more)="more()"
        (update)="reload($event)"
    >
        <!-- BG-596: v-table-actions is not displayed in the table info bar
        <v-table-actions>
            <button [disabled]="!selected?.length" mat-button (click)="failMachines()">
                Fail machines
            </button>
            <button [disabled]="!selected?.length" mat-flat-button (click)="adjustment()">
                Create adjustments
            </button>
        </v-table-actions> -->
    </v-table>
</cc-page-layout>
